<div class="col col-12">
	<div class="row gx-7 gy-3">
		<div class="col-12 lg:col-4 2xl:col-3">
			<h5 class="m-0">Location</h5>
			<p class="fg-emphasis-secondary small mt-1 mb-0">Where the weather on the Dashboard is for.</p>
		</div>
		<div class="col-12 lg:col-8 2xl:col-9">
			<div class="card border-0 mb-0">
				<div class="card-body">
					<%if (_.isNull(location)) {%>
						<div class="d-flex align-items-center gap-5">
							<div class="d-flex align-items-center justify-content-center flex-shrink-0 size-5 rounded-5 bg-gray-200 fg-gray-600 align-self-start"><i class="icon-duotone icon-solid icon-location-dot"></i></div>
							<div class="me-auto">Not configured</div>
							<a href="#location" class="btn-link d-inline-block text-nowrap align-self-start border-0 px-0 py-3 mt-1 min-h-0" data-bs-toggle="dialog"><i class="icon-regular icon-pen icon-fw me-1"></i>Edit</a>
						</div>
					<%} else {%>
						<div class="d-flex align-items-center gap-5">
							<div class="d-flex align-items-center justify-content-center flex-shrink-0 size-5 rounded-5 bg-subtle-primary fg-primary align-self-start"><i class="icon-duotone icon-solid icon-location-dot"></i></div>
							<dl class="d-flex flex-column md:flex-row column-gap-7 row-gap-5 min-w-0 me-auto mt-1 md:mt-0 mb-0">
								<div class="min-w-0">
									<dt class="fw-lighter lh-1"><small>Latitude</small></dt>
									<dd class="m-0 text-break"><%-location?.latitude%></dd>
								</div>
								<div class="min-w-0">
									<dt class="fw-lighter lh-1"><small>Longitude</small></dt>
									<dd class="m-0 text-break"><%-location?.longitude%></dd>
								</div>
							</dl>
							<a href="#location" class="btn-link d-inline-block text-nowrap align-self-start border-0 px-0 py-3 mt-1 min-h-0" data-bs-toggle="dialog"><i class="icon-regular icon-pen icon-fw me-1"></i>Edit</a>
						</div>
					<%}%>
				</div>
			</div>
		</div>
	</div>
</div>
