<div class="col col-12">
	<div class="row gx-7 gy-3">
		<div class="col-12 lg:col-4 2xl:col-3">
			<h5 class="m-0">Notifications</h5>
			<p class="fg-emphasis-secondary small mt-1 mb-0">The mail server the node sends its emails through, and who receives them.</p>
		</div>
		<div class="col-12 lg:col-8 2xl:col-9">
			<div class="card border-0 mb-0">
				<div class="card-body">
					<%if (_.isNull(smtp)) {%>
						<div class="d-flex align-items-center gap-5">
							<div class="me-auto">Not configured</div>
							<a href="#smtp" class="btn-link d-inline-block text-nowrap p-0 min-h-0" data-bs-toggle="dialog"><i class="icon-regular icon-pen icon-fw me-1"></i>Edit</a>
						</div>
					<%} else {%>
						<div class="d-flex align-items-center gap-5 mb-3">
							<h5 class="me-auto mb-0">SMTP server</h5>
							<a href="#smtp" class="btn-link d-inline-block text-nowrap p-0 min-h-0" data-bs-toggle="dialog"><i class="icon-regular icon-pen icon-fw me-1"></i>Edit</a>
						</div>
						<dl class="row row-cols-1 sm:row-cols-2 xl:row-cols-3 g-5 mb-0">
							<div class="col min-w-0">
								<dt class="fw-lighter lh-1"><small>SMTP server</small></dt>
								<dd class="m-0 text-break"><%-smtp?.address%></dd>
							</div>
							<div class="col min-w-0">
								<dt class="fw-lighter lh-1"><small>Port</small></dt>
								<dd class="m-0"><%-smtp?.port%></dd>
							</div>
							<div class="col min-w-0">
								<dt class="fw-lighter lh-1"><small>Encryption</small></dt>
								<dd class="m-0"><%=(smtp?.encryption?.toLowerCase() === 'ssl' ? 'SSL' : 'None/StartTLS')%></dd>
							</div>
							<div class="col min-w-0">
								<dt class="fw-lighter lh-1"><small>SMTP username</small></dt>
								<dd class="m-0 text-break"><%-smtp?.username%></dd>
							</div>
							<div class="col min-w-0">
								<dt class="fw-lighter lh-1"><small>Sender email address</small></dt>
								<dd class="m-0 text-break"><%-smtp?.sender%></dd>
							</div>
						</dl>

						<hr class="border-gray-200 my-5 opacity-25">

						<h5>Recipients</h5>
						<%if (!smtp?.recipients) {%>
							<span class="fg-danger">No recipient configured</span>
						<%} else {%>
							<div class="d-flex flex-wrap gap-3">
								<%_.each(smtp?.recipients, (recipient) => {%>
									<span class="chip cursor-default"><span class="chip-icon"><i class="icon-light icon-user"></i></span><%-recipient%></span>
								<%})%>
							</div>
						<%}%>
					<%}%>
				</div>
			</div>
		</div>
	</div>
</div>
