<div id="system-services" class="d-none">
	<div class="row">
		<div class="col-12 position-relative mb-3">
			<h5 class="m-0">
				<i class="icon-duotone icon-solid icon-cube icon-fw me-1"></i>
				Services
			</h5>
			<div class="position-absolute top-0 end-0 pe-3 mt-n1">
				<button class="btn btn-sm btn-outline-secondary p-1" data-action="sync">
					<i class="icon-solid icon-arrows-rotate icon-fw"></i>
				</button>
			</div>
		</div>
		<div class="loading d-flex justify-content-center align-items-center h-100"><div class="spinner-border text-gray-600"></div></div>
		<div class="oops d-flex justify-content-center align-items-center h-100 d-none"><span class="text-red-300">Error fetching data</span></div>
		<div class="container-fluid d-none">
			<div class="card rounded-4 border-0">
				<div class="card-body">
					<div class="row g-2">
						<div class="col col-4">
							<u-input type="search" label="Search" class="search"></u-input>
						</div>
						<div class="col col-2">
							<u-select label="State" class="filter-state">
								<option value="" selected>all</option>
								<option value="running">running</option>
								<option value="stopped">stopped</option>
								<option value="oneshot">oneshot</option>
							</u-select>
						</div>
						<div class="col col-2">
							<u-select label="Automatic startup" class="filter-unit-file-state">
								<option value="" selected>all</option>
								<option value="enabled">enabled</option>
								<option value="disabled">disabled</option>
								<option value="static">static</option>
								<option value="enabled-runtime">enabled-runtime</option>
								<option value="indirect">indirect</option>
								<option value="generated">generated</option>
								<option value="unknown">unknown</option>
							</u-select>
						</div>
					</div>
					<div class="overflow-y-scroll mt-n3">
						<table class="table table-hover align-middle m-0">
							<thead class="table-light sticky-top top-0">
								<tr>
									<th class="orderable asc text-nowrap" data-field="unit">
										Unit
										<i class="icon icon-duotone icon-solid icon-arrow-up-arrow-down icon-fw ms-1"></i>
									</th>
									<th class="orderable text-nowrap" data-field="unitFileState">
										Automatic startup
										<i class="icon icon-duotone icon-solid icon-arrow-up-arrow-down icon-fw ms-1"></i>
									</th>
									<th class="orderable text-nowrap" data-field="state">
										State
										<i class="icon icon-duotone icon-solid icon-arrow-up-arrow-down icon-fw ms-1"></i>
									</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
