<tr class="<%=(service.state === 'failed' ? 'table-danger' : '')%>">
	<td>
		<%=service.unit%><br>
		<small class="text-body-secondary"><%=service.description%></small>
	</td>
	<td class="d-none d-md-table-cell"><%=service.unitFileState%></td>
	<td class="text-nowrap">
		<u-badge color="<%=(service.state === 'running' ? 'green' : (service.state === 'oneshot' ? 'gray' : 'red'))%>" tint="<%=(service.state === 'running' ? 100 : (service.state === 'oneshot' ? 200 : 100))%>" pill>
			<%=service.state%>
		</u-badge>
	</td>	
</tr>
