<tr class="service cursor-pointer <%=(service.state === 'failed' ? 'table-danger' : '')%>" data-unit="<%=service.unit%>">
	<td>
		<%=service.unit%><br>
		<small class="text-body-secondary"><%=service.description%></small>
	</td>
	<td class="text-end text-nowrap d-none d-md-table-cell">
		<small class="fw-light" data-bs-toggle="tooltip" data-bs-original-title="<%=prettyBytes(service.memory?.usage || 0, { binary: true })%>"><%=service.memory?.percent.toFixed(2)%>%</small>
		<u-progress shadow="false">
			<u-progress-bar width="<%=service.memory?.percent%>"></u-progress-bar>
		</u-progress>
	</td>
	<td class="d-none d-md-table-cell"><%=service.unitFileState%></td>
	<td class="text-nowrap">
		<u-badge color="<%=(service.state === 'running' ? 'green' : (service.state === 'oneshot' ? 'gray' : 'red'))%>" tint="<%=(service.state === 'running' ? 100 : (service.state === 'oneshot' ? 200 : 100))%>" pill>
			<%=service.state%>
		</u-badge>
	</td>
	<td class="text-center">
		<i class="icon-solid icon-angle-right icon-fw text-body-tertiary"></i>
	</td>
</tr>
