<form id="network-interface" class="modal fade" tabindex="-1">
	<input type="hidden" name="name" value="" class="name">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Network interface</h5>
			</div>
			<div class="modal-body">
				<div class="alert alert-light">
					<dl class="m-0">
						<dt class="fw-light text-body-tertiary"><small>Name</small></dt>
						<dd class="name m-0"></dd>
					</dl>
				</div>
				<small class="fw-light text-body-tertiary">Configuration method</small>
				<div class="d-flex align-items-center mb-3">
					<div class="form-check form-switch form-check-inline ps-0 mb-0 me-2">
						<label class="form-check-label">Manual</label>
					</div>
					<div class="form-check form-switch form-check-inline mb-0">
						<input type="checkbox" class="dhcp form-check-input" role="switch">
						<label class="form-check-label">Automatic</label>
					</div>
				</div>
				<div class="input-group mb-3">
					<div class="form-floating">
						<input type="text" class="ip-address form-control" placeholder="###.###.###.###">
						<label>IP address</label>
						<div class="invalid-feedback"></div>
					</div>
					<div class="form-floating">
						<input type="text" class="netmask form-control w-50" placeholder="##">
						<label>Netmask</label>
						<div class="invalid-feedback"></div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary d-flex ms-auto" data-bs-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-primary">Save</button>
			</div>
		</div>
	</div>
</form>
