<u-form>
	<u-input type="hidden" name="name" class="name"></u-input>
	<div id="network-interface" class="modal fade">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Network interface</h5>
				</div>
				<div class="modal-body">
					<div class="alert alert-light">
						<dl class="m-0">
							<dt class="fw-light text-body-tertiary"><small>Name</small></dt>
							<dd class="interface-name m-0"></dd>
						</dl>
					</div>
					<u-switch name="method" on-value="auto" off-value="manual" on-label="Automatic" off-label="Manual" label="Configuration method" class="dhcp"></u-switch>
					<div class="row">
						<div class="manual col-12">
							<div class="row g-2">
								<div class="col-6">
									<u-input name="ipAddress" label="IP address" class="ip-address" placeholder="###.###.###.###"></u-input>
								</div>
								<div class="col-3">
									<u-input name="netmask" label="Netmask" class="netmask" placeholder="##"></u-input>
								</div>
							</div>
						</div>
						<div class="col-6">
							<u-input name="gateway" label="Default gateway" class="gateway" placeholder="###.###.###.###"></u-input>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<u-button variant="secondary" class="d-flex ms-auto" data-bs-dismiss="modal" outline>Cancel</u-button>
					<u-button type="submit" variant="primary">Update</u-button>
				</div>
			</div>
		</div>
	</div>
</u-form>
