<form id="network-identifier" novalidate>
	<h5>Host</h5>

	<div class="form-floating mb-3">
		<input type="text" name="hostname" class="hostname form-control" placeholder="">
		<label>Hostname</label>
		<div class="invalid-feedback"></div>
	</div>
	<div class="form-floating mb-3">
		<input type="text" name="domain-name" class="domain-name form-control" placeholder="">
		<label>Domain name</label>
		<div class="invalid-feedback"></div>
	</div>

	<button type="submit" class="btn btn-primary">Next</button>
</form>
