<form id="network-interface" novalidate>
	<u-input type="hidden" name="name" class="name"></u-input>
	<h5>Network interface</h5>
	<div class="alert alert-light">
		<dl class="m-0">
			<dt class="fw-light text-body-tertiary"><small>Name</small></dt>
			<dd class="name m-0"></dd>
		</dl>
	</div>
	<u-switch name="method" on-value="auto" off-value="manual" on-label="Automatic" off-;abel="Manual" label="Configuration method" class="dhcp"></u-switch>
	<div class="row">
		<div class="manual col-12">
			<div class="row">
				<div class="col-6">
					<u-input name="ipAddress" label="IP address" class="ip-address" placeholder="###.###.###.###"></u-input>
				</div>
				<div class="col-3">
					<u-input name="netmask" label="Netmask" class="netmask" placeholder="##"></u-input>
				</div>
			</div>
		</div>
		<div class="col-6">
			<u-input name="gateway" label="Default gateway" class="gateway" placeholder="###.###.###.###"></u-input>
		</div>
	</div>
	<button type="submit" class="btn btn-primary">Next</button>
</form>
