<div id="folders" class="d-none">
	<div class="row">
		<div class="col-12 position-relative mb-3">
			<h5 class="m-0">
				<i class="icon-duotone icon-solid icon-folder-closed icon-fw me-1"></i>
				Folders
			</h5>
			<div class="position-absolute top-0 end-0 pe-3 mt-n1">
				<a href="#folder" class="btn btn-sm btn-outline-secondary p-1 ms-auto" data-bs-toggle="modal">New</a>
			</div>
		</div>
		<div class="loading d-flex justify-content-center align-items-center h-100"><div class="spinner-border text-gray-600"></div></div>
		<div class="oops d-flex justify-content-center align-items-center h-100 d-none"><span class="text-red-300">Error fetching data</span></div>
		<div class="container-fluid d-none">
			<div class="row"></div>
		</div>
	</div>
</div>
