<div id="folders" class="d-none">
	<div class="row">
		<div class="col-12 position-relative mb-1">
			<h5>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="fa fa-fw me-1"><path class="fa-secondary" opacity=".4" d="M0 96l0 96 512 0 0-32c0-35.3-28.7-64-64-64L288 96c-10.1 0-19.6-4.7-25.6-12.8L243.2 57.6C231.1 41.5 212.1 32 192 32L64 32C28.7 32 0 60.7 0 96z"/><path class="fa-primary" d="M0 192L0 416c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-224L0 192z"/></svg>
				Folders
			</h5>
			<div class="position-absolute top-0 end-0 pe-3 mt-n1">
				<a href="#folder" class="btn btn-sm btn-outline-secondary p-1 ms-auto" data-bs-toggle="modal">Create</a>
			</div>
		</div>
		<div class="loading d-flex justify-content-center align-items-center h-100"><div class="spinner-border text-gray-600"></div></div>
		<div class="oops d-flex justify-content-center align-items-center h-100 d-none"><span class="text-red-300">Error fetching data</span></div>
		<div class="container-fluid d-none">
			<div class="row"></div>
		</div>
	</div>
</div>
