<div id="folders" class="d-none">
	<div class="row">
		<div class="col-12 position-relative mb-3">
			<h5 class="m-0">
				<i class="icon-duotone icon-solid icon-folder-closed icon-fw me-1"></i>
				Folders
			</h5>
			<div class="position-absolute top-0 end-0 pe-3 mt-n1">
				<a href="#folder" class="btn btn-sm btn-outline-secondary py-1" data-bs-toggle="modal">New folder</a>
			</div>
		</div>
		<div class="loading d-flex justify-content-center align-items-center h-100"><div class="spinner-border text-gray-600"></div></div>
		<div class="oops d-flex justify-content-center align-items-center h-100 d-none"><span class="text-red-300">Error fetching data</span></div>
		<div class="container-fluid position-relative d-none">
			<div class="card rounded-4 border-0">
				<div class="card-body">
					<div class="row g-2">
						<div class="col col-6 col-md-4">
							<u-input type="search" label="Search" class="search"></u-input>
						</div>
					</div>
					<div class="overflow-y-scroll mt-n3 pe-3 mx-0 me-n3">
						<table class="table table-hover align-middle m-0">
							<thead class="sticky-top">
								<tr>
									<th class="orderable asc text-nowrap d-table-cell d-md-none" data-field="name">
										Name
										<i class="icon icon-duotone icon-solid icon-sort icon-fw ms-1"></i>
									</th>
									<th class="orderable asc text-nowrap d-none d-md-table-cell" colspan="2" data-field="name">
										Name
										<i class="icon icon-duotone icon-solid icon-sort icon-fw ms-1"></i>
									</th>
									<th class="text-center text-nowrap" style="width: 105px; min-width: 105px;">Acces on</th>
									<th class="text-nowrap d-none d-md-table-cell">Authorized users</th>
									<th class="orderable text-end text-nowrap d-none d-md-table-cell" data-field="size" data-default-order="desc" style="width: 100px; min-width: 100px;">
										Capacity
										<i class="icon icon-duotone icon-solid icon-sort icon-fw ms-1"></i>
									</th>
									<th class="orderable text-end text-nowrap d-none d-md-table-cell" data-field="alloc" data-default-order="desc" style="width: 100px; min-width: 100px;">
										Usage
										<i class="icon icon-duotone icon-solid icon-sort icon-fw ms-1"></i>
									</th>
									<th style="width: 40px; min-width: 40px;"></th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
