@use "utilities" as custom;

@each $name in custom.$color-names {
	@each $stop in custom.$color-stops {
		.bd-#{$name}-#{$stop} {
			color: if(sass($stop == "025" or $stop == "050" or $stop == "100" or $stop == "200" or $stop == "300" or $stop == "400"): var(--black); else: var(--white));
			background-color: var(--#{$name}-#{$stop});
		}
	}
}

.bd-white { color: var(--black); background-color: var(--white); }
.bd-black { color: var(--white); background-color: var(--black); }
