$utilities: map-merge(
	$utilities,
	(
		'cursor': (
			property: cursor,
			class: cursor,
			responsive: true,
			values: auto default pointer wait text move help not-allowed
		)
	)
);

$utilities: map-merge(
	$utilities,
	(
		'pointer-events': (
			property: pointer-events,
			class: pe,
			responsive: true,
			values: none auto
		)
	)
);