:root {
	--bs-toast-spacing: #{map-get($spacers, 2)};
}

::selection {
	color: #ffffff;
	text-shadow: none;
	background: #658ffc;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	--bs-bg: rgba(237, 242, 249, 0.96);
	overflow-y: scroll;
	width: 100%;
	height: 100%;
	font-weight: 300;
	background-color: var(--bs-bg);
	margin-bottom: 72px;
	&[style*="overflow: hidden;"] {
		.navbar {
			padding-right: var(--scrollbar-width) !important;
		}
	}
	&.reboot,
	&.powered-off {
		header,
		main {
			display: none !important;
		}
	}
}

header {
	.navbar {
		box-shadow: 0 -0.5rem 0.5rem -0.5rem rgba(0, 0, 0, 0.2);
		&.navbar-position {
			z-index: 1030;
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
		}
		.nav-pills {
			--bs-nav-link-padding-x: 0.5rem;
			display: block;
			overflow: auto;
			height: calc(100vh - 165px);
		}
		.navbar-glass {
			min-height: 4.5rem;
			background-color: rgba(237, 242, 249, 0.25);
			backdrop-filter: blur(8px);
		}
		.dropdown-menu {
			--bs-dropdown-bg: var(--bs-body-bg);
		}
		.sign-in,
		.sign-out {
			margin-top: 0.28rem;
			margin-bottom: 0.28rem;
		}
	}
	.navbar-brand {
		min-height: 40px;
		padding: 0.31rem 0 0.31rem 2.75rem;
		margin: 0 0 0 -0.25rem;
		background-image: url('/assets/img/virgo.png');
		background-size: 40px;
		background-position: 0 50%;
		background-repeat: no-repeat;
	}
	.nav-title {
		color: $gray-300;
	}
	.nav-link {
		font-weight: 400;
		color: var(--bs-white);
		text-decoration-color: RGBA(var(--bs-white), var(--bs-link-underline-opacity,1));
		&:not(.active):hover {
			color: var(--bs-white);
		}
		&.active {
			font-weight: 400;
		}
		&.active,
		&:hover {
			color: var(--bs-white) !important;
			svg {
				fill: var(--bs-white);
			}
		}
		svg {
			fill: var(--bs-white);
		}
		.fa-primary {
			fill: rgba(255,255,255,0.85);
		}
	}
	.navbar-toggler {
		&:focus {
			box-shadow: none;
		}
	}
	.offcanvas {
		--bs-offcanvas-height: 757px;
		--bs-offcanvas-padding-y: 1.375rem;
		background-color: rgba(237, 242, 249, 0.96);
	}
	.offcanvas-header {
		box-shadow: 0 -0.5rem 0.5rem -0.5rem rgba(0, 0, 0, 0.2);
	}
	.offcanvas-title {
		line-height: 1.15;
	}
}
div:not(.navbar) .nav-pills {
	--bs-nav-pills-link-active-color: var(--bs-white);
	--bs-nav-pills-link-active-bg: var(--bs-indigo-500);
	--bs-nav-link-color: var(--bs-white);
	--bs-nav-link-hover-color: var(--bs-gray-100);
	background: var(--bs-secondary-bg-subtle);
	border-radius: var(--bs-border-radius);
	padding: 0.25rem;
	.nav-link {
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;
		&.active {
			box-shadow: var(--bs-box-shadow);
		}
		&:not(.active) {
			color: var(--bs-black);
			background-color: none;
		}
	}
}

main,
#update {
	padding-top: map-get($spacers, 3);
}

.offcanvas-backdrop {
	opacity: 1 !important;
	backdrop-filter: blur(6px) grayscale(0.8);
	background-color: transparent;
	background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
}

.line-clamp {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	&.two-line {
		min-height: 3rem;
		line-clamp: 2;
		-webkit-line-clamp: 2;
	}
	&.three-line {
		min-height: 4.5rem;
		line-clamp: 3;
		-webkit-line-clamp: 3;
	}
}

@media (max-width: 575px) {
	header {
		.navbar-brand {
			font-weight: bold;
		}
		.navbar {
			background-color: rgba(237, 242, 249, 0.96);
			padding-left: 0;
			padding-right: 0;
			.navbar-nav {
				.nav-link {
					padding-top: 0.75rem;
					padding-bottom: 0.75rem;
				}
			}
			.navbar-glass {
				width: auto !important;
			}
		}
	}
}

@media (min-width: 576px) {
	body {
		margin-top: 4.5rem;
		margin-bottom: 0;
	}
	header {
		nav {
			position: fixed;
			top: 0;
			width: 15rem;
			height: 100vh;
			.navbar {
				height: 100%;
				padding: 4.5rem 0.75rem 1rem 0.75rem;
			}
			.nav {
				width: 100%;
				.nav-link {
					&.active {
						box-shadow: var(--bs-box-shadow-sm);
					}
					&:not(.active):hover {
						background-color: #82a7ff;
					}
					&.active,
					&:hover {
						background-color: #407cfc;
					}
				}
			}
		}
		.navbar-brand {
			color: var(--bs-white);
		}
		.navbar {
			flex-flow: row nowrap;
			justify-content: flex-start;
			box-shadow: none !important;
			&.navbar-position {
				top: 0;
				bottom: auto;
				left: 0;
				right: 0;
			}
			.navbar-glass {
				width: calc(100% - 15rem + 1rem) !important;
				box-shadow: none;
			}
			.navbar-glass-shadow {
				box-shadow: 0 0.5rem 0.5rem -0.5rem rgba(0, 0, 0, 0.2);
			}
			.navbar-toggler {
				display: none;
			}
			.navbar-collapse {
				display: flex !important;
				flex-basis: auto;
			}
			.navbar-nav {
				.nav-link {
					padding-right: map-get($spacers, 2);
					padding-left: map-get($spacers, 2);
					&:hover {
						color: var(--bs-white);
						background-color: #82a7ff;
						border-radius: $border-radius;
					}
				}
			}
			.dropup {
				.dropdown-menu {
					top: 100%;
					bottom: unset;
				}
			}
		}
	}
	main,
	#update {
		margin-left: 15rem;
	}
}
