img {
	max-width: 100%;
}

u-toast {
	display: block;
}

.dropdown {
	position: relative;
}
.dropdown-toggle {
	&::after {
		vertical-align: middle;
	}
	&.caret-off::after {
		display: none;
	}
}
.dropdown-menu {
	--bs-dropdown-bg: rgba(var(--bs-body-bg-rgb), 0.2);
	--bs-dropdown-padding-x: 0.5rem;
	--bs-dropdown-header-padding-x: 0.5rem;
	--bs-dropdown-item-padding-x: 0.5rem;
	--bs-dropdown-border-width: 0;
	z-index: 1029;
	backdrop-filter: blur(18px) grayscale(0.8) saturate(180%);
	margin-top: 0;
}
.dropdown-item {
	--bs-dropdown-link-hover-bg: rgba(0, 0, 0, 0.1);
	border-radius: var(--bs-dropdown-border-radius);
}
.dropup {
	.dropdown-menu {
		margin-bottom: 0;
	}
}

.badge:not(.rounded-pill) {
	font-weight: 300;
	border-radius: 0.1rem;
}

.tooltip {
	--bs-tooltip-zindex: 99999;
	&.storage-scan-progress,
	&.metrics-tooltip {
		--bs-tooltip-max-width: 400px;
	}
}

.modal {
	--bs-modal-border-radius: var(--bs-border-radius-xl);
	backdrop-filter: blur(6px) grayscale(0.8);
}
.modal-dialog {
	&.modal-fullscreen {
		.modal-body {
			max-height: none;
		}
	}
}
.modal-content {
	position: relative;
	background-clip: initial;
	border: 0;
	.scrollbar {
		opacity: 0;
		z-index: 2000;
		position: absolute;
		right: 4px;
		top: 66px;
		bottom: 0;
		width: 8px;
		background: rgba(0, 0, 0, 0.05);
		border-radius: 4px;
	}
	.scrollbar-thumb {
		z-index: 2000;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: rgba(0, 0, 0, 0.3);
		border-radius: 4px;
		cursor: pointer;
		transition: background 0.2s;
	}
	.scrollbar-thumb:hover,
	.scrollbar-thumb.dragging {
		background: rgba(0, 0, 0, 0.5);
	}
}
.modal-header {
	z-index: 2000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(8px);
	border-bottom: 0;
	border-radius: var(--bs-modal-border-radius);
}
.modal-body {
	overflow: auto;
	// max-height: calc(100vh - 170px);
	padding-top: 66px; // take into consideration input focus glow
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
	&.has-scrollbar {
		margin-right: 8px;
	}
	&:has(+ .modal-footer) {
		padding-bottom: 70px;
	}
}
.modal-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2000;
	background-color: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(8px);
	border-top: 0;
	border-radius: var(--bs-modal-border-radius);
	~ .scrollbar {
		bottom: 70px;
	}
}

.card {
	--bs-card-border-color: var(--bs-gray-200);
	position: relative;
	margin-bottom: 1rem;
	.card-spacer {
		min-width: 3rem;
		max-width: 3rem;
	}
	.card-image {
		img {
			overflow: hidden;
			object-fit: contain;
			display: flex;
			width: 100%;
			min-height: 30px;
			max-height: 30px;
		}
		.icon-light {
			font-size: 1.24em;
			display: flex;
			justify-content: center;
			width: 100%;
			padding: 0.2rem;
			margin: 0.125rem 0;
		}
	}
	.card-footer {
		border-left: var(--bs-card-border-width) solid var(--bs-card-border-color);
		border-right: var(--bs-card-border-width) solid var(--bs-card-border-color);
	}
	.dropdown-toggle {
		--bs-btn-active-border-color: transparent;
		--bs-btn-hover-bg: var(--bs-gray-200);
		--bs-btn-active-bg: var(--bs-gray-400);
		--bs-btn-padding-x: 0.25rem;
		--bs-btn-padding-y: 0.1rem;
	}
	.indicator {
		z-index: 1;
		position: absolute;
		top: 0.15rem;
		right: -1.35rem;
		transform: translate(-50%,-50%);
	}
}
:host(.indicator) .badge {
	font-size: 0.65em !important;
}

.progress {
	height: 8px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}

.no-content {
	height: calc(100dvh - 144px);
}

#not-found {
	.no-content {
		height: calc(100dvh - 104px);
	}
}
#weather {
	.weather-icon {
		position: relative;
		svg {
			position: absolute;
			top: -28px;
			left: 0;
			width: 100%;
			height: 56px;
		}
	}
	.condition {
		max-width: 85px;
		line-height: 1.1;
	}
}
#notifications {
	.dropdown-toggle {
		&.icon-dot::before {
			content: '';
			z-index: 1;
			position: absolute;
			top: 0.25rem;
			right: 0rem;
			width: 0.85rem;
			height: 0.85rem;
			border-radius: 50%;
			background-color: var(--bs-primary);
			border: 2px solid #ecf2f8;
		}
		.icon-bell {
			font-size: 1.6em;
			margin-top: 1px;
		}
	}
}
#system-updates {
	ul {
		list-style: none;
		overflow-y: scroll;
		height: calc(100dvh - 270px);
		padding: 0 map-get($spacers, 3) 0 0;
		margin: 0 map-get($spacers, 3) * -1 0 0;
	}
}
#update {
	ul {
		list-style: none;
		overflow-y: scroll;
		height: calc(100dvh - 238px);
		padding: 0 map-get($spacers, 3) 0 0;
		margin: 0 map-get($spacers, 3) * -1 0 0;
	}
}
#resource-usage {
	.badge{
		--bs-badge-padding-y: 0.55em;
		--bs-badge-padding-y: 0.25em;
	}
	small.fw-light {
		font-size: 0.775em;
	}
}
#dashboard {
	.group {
		border-radius: var(--bs-border-radius-xl);
		padding: map-get($spacers, 2) 0 map-get($spacers, 1);
		.order {
			display: flex;
			align-items: center;
			text-decoration: none;
			margin-left: auto;
		}
		.card {
			transition: box-shadow 0.3s ease-in-out;
			&:hover {
				background: var(--bs-light) !important;
				box-shadow: var(--bs-box-shadow-sm);
			}
		}
	}
	.dragging {
		background: var(--bs-purple-100) !important;
		border-radius: var(--bs-border-radius-xl) !important;
		padding-left: map-get($spacers, 2);
		padding-right: map-get($spacers, 2);
		margin: 0 map-get($spacers, 2) * -1;
	}
}
#resources-monitor {
	padding-top: map-get($spacers, 2);
	padding-bottom: map-get($spacers, 1);
}
#apps,
#bookmarks,
#folders,
#time-machines,
#users,
#storage,
#system-services {
	.overflow-y-scroll {
		height: calc(100dvh - 242px);
	}
	.table {
		tbody {
			td {
				padding-top: $table-cell-padding-y-sm;
				padding-bottom: $table-cell-padding-y-sm;
			}
		}
	}
}
#apps {
	.details {
		.app:has(.logs-container:not(.d-none)) .services,
		.app:has(.terminal-container:not(.d-none)) .services {
			overflow-y: hidden !important;
			margin-right: calc(var(--scrollbar-width) + map-get($spacers, 3) * -1) !important;
		}
		.services {
			height: calc(100dvh - 386px);
		}
	}
}
@media (min-width: 576px) {
	#apps {
		.details {
			.services {
				height: calc(100dvh - 305px);
			}
		}
	}
}
#apps,
#bookmarks {
	.row-image {
		display: flex;
		justify-content: center;
		width: 2rem;
		img {
			width: 2rem;
			min-height: 30px;
			max-height: 30px;
		}
		.icon-light {
			font-size: 1.24em;
		}
	}
}
#storage {
	.overflow-y-scroll {
		height: calc(100dvh - 242px);
	}
}
#apps {
	&:has(.details .app) > .row > .container-fluid > .card {
		background-color: var(--bs-dark-bg-subtle);
		margin-top: map-get($spacers, 2) * -1;
		margin-left: map-get($spacers, 4);
		margin-right: map-get($spacers, 4);
	}
	.details {
		z-index: 1028;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: none;
		.container-fluid {
			padding-bottom: 1px;
		}
	}
	.logs-container,
	.terminal-container {
		z-index: 1025;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: var(--bs-white);
	}
	.terminal-container {
		.wrapper {
			height: calc(100% - 34px);
		}
	}
	.logs-container {
		ul {
			list-style: none;
			overflow-y: scroll;
			height: calc(100dvh - 257px);
			background-color: var(--bs-black);
			padding: 0;
			margin: 0;
		}
		li {
			font-family: var(--bs-font-monospace);
			font-size: 0.813rem;
			line-height: 1.063rem;
			color: var(--bs-white);
			&:hover {
				color: var(--bs-black);
				background-color: var(--bs-gray-100);
			}
		}
	}
}
#metrics,
#app-center {
	.modal-body {
		height: 100dvh;
	}
}

[class*="z-depth-"] {
	transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
	will-change: box-shadow;
}
.z-depth-0 {
	box-shadow: none !important;
}
.z-depth-1 {
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.z-depth-2 {
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.z-depth-3 {
	box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}
.z-depth-4,
.tooltip .tooltip-inner {
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.z-depth-5 {
	box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}
.z-depth-6 {
	box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
.z-depth-7 {
	box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}
.z-depth-8 {
	box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.z-depth-9 {
	box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
}
.z-depth-10 {
	box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
}
.z-depth-11 {
	box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2), 0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
}
.z-depth-12 {
	box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}
.z-depth-13 {
	box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
}
.z-depth-14 {
	box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
}
.z-depth-15 {
	box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12);
}
.z-depth-16,
.dropdown-menu,
.popover {
	box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}
.z-depth-17 {
	box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2), 0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12);
}
.z-depth-18 {
	box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2), 0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12);
}
.z-depth-19 {
	box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2), 0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12);
}
.z-depth-20 {
	box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
}
.z-depth-21 {
	box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
}
.z-depth-22 {
	box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.2), 0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12);
}
.z-depth-23 {
	box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2), 0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12);
}
.z-depth-24,
.modal-content {
	box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}
