<div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
	<div class="card rounded-4 border-0 shadow-none" data-name="<%=app.name%>">
		<div class="card-body ps-0 pt-0">
			<div class="row g-0 align-items-center">
				<div class="col-2" style="height: 50px;">
					<img src="<%=app.logo%>" class="w-100 h-100 object-fit-contain p-2">
				</div>
				<div class="col">
					<h6 class="card-title fw-medium mb-0"><%=app.title%></h6>
				</div>
			</div>
			<div class="row g-0">
				<div class="col offset-2">
					<p class="card-text line-clamp two-line"><%=app.description%></p>
					<%if (app.isInstalled) {%>
						<span class="badge rounded-pill bd-blue-200 ">Installed</span>
					<%}%>
					<div class="d-inline-flex" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="<%=(!app.isInstalled ? 'Coming soon' : '')%>">
						<a href="#" class="install btn btn-sm btn-outline-primary <%=(app.isInstalled ? 'invisible' : '')%> disabled">Install</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr class="border-secondary-subtle my-3">
</div>
