<dialog id="folder-create" class="dialog dialog-scrollable">
	<u-form>
		<div class="dialog-header">
			<h1 class="dialog-title">New folder</h1>
		</div>
		<div class="dialog-body">
			<div class="loading d-flex justify-content-center align-items-center gap-3 py-3">
				<div class="spinner-border spinner-sm fg-gray-600"></div>
				<span class="fg-4">Preparing...</span>
			</div>
			<div class="content d-none">
				<u-select name="path" label="Path" class="path"></u-select>
				<u-input name="comment" label="Name" class="comment"></u-input>
				<div class="mb-5">
					<label class="form-label">Authorized users</label>
					<div class="valid-users d-flex flex-column gap-1"></div>
					<div class="form-text">Leave all unchecked for guest access</div>
				</div>
				<u-input name="refquota" label="Capacity" class="refquota">
					<span slot="suffix">GiB</span>
				</u-input>
			</div>
		</div>
		<div class="dialog-footer">
			<u-button variant="secondary" class="d-flex ms-auto" data-bs-dismiss="dialog" outline>Cancel</u-button>
			<u-button type="submit" variant="primary">Create</u-button>
		</div>
	</u-form>
</dialog>
