<div id="bookmark-update" class="modal fade">
	<u-form>
		<u-input type="hidden" name="name" class="name"></u-input>
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit bookmark</h5>
				</div>
				<div class="modal-body">
					<u-input name="title" label="Title" class="title"></u-input>
					<u-select name="category" label="Category" class="category">
						<option value="Productivity" selected>Productivity</option>
						<option value="Networking">Networking</option>
						<option value="System">System</option>
					</u-select>
					<hr class="my-4">
					<u-checkbox name="useProxy" class="use-proxy" label="Use proxy"></u-checkbox>
					<div class="url-container">
						<u-input name="url" label="URL" class="url" placeholder="https://"></u-input>
					</div>
					<div class="proxy-container d-none">
						<u-input name="subdomain" label="Subdomain" class="subdomain">
							<span slot="prefix" class="mb-n3">https://</span>
							<span slot="suffix" class="domain-suffix mb-n3"></span>
						</u-input>
						<u-input name="backendUrl" label="Forward to" class="backend-url" placeholder="https://192.168.1.1" tip="The internal address where requests will be forwarded (e.g., http://192.168.1.1, https://10.0.0.5, http://192.168.1.1:8080, https://10.0.0.5:8443)"></u-input>
						<u-checkbox name="requireAuth" class="require-auth" label="Private access" tip="When enabled, only logged-in users can access this URL. When disabled, anyone with the link can access it."></u-checkbox>
					</div>
				</div>
				<div class="modal-footer">
					<u-button variant="secondary" class="d-flex ms-auto" data-bs-dismiss="modal" outline>Cancel</u-button>
					<u-button type="submit" variant="primary">Update</u-button>
				</div>
			</div>
		</div>
	</u-form>
</div>
