<div class="item dropdown chip cursor-default" data-id="<%-trustedProxy%>">
	<%if (!_.isEmpty(jobs)) {%>
		<%-trustedProxy%>
		<span class="chip-icon"><i class="icon-solid icon-gear icon-spin fg-secondary"></i></span>
	<%} else {%>
		<%-trustedProxy%>
		<button type="button" class="chip-dismiss" data-bs-toggle="menu"><i class="icon-solid icon-ellipsis-vertical"></i></button>
		<div class="menu">
			<a href="#trusted-proxy-edit" class="menu-item" data-bs-toggle="dialog"><i class="icon-regular icon-pen icon-fw"></i>Edit</a>
			<div class="menu-divider"></div>
			<a href="#" class="menu-item fg-danger confirm" data-action="delete"><i class="icon-regular icon-times icon-fw"></i>Delete</a>
		</div>
	<%}%>
</div>
