<%_.each(apps, (app) => {%>
	<dt class="fw-lighter d-flex align-items-center">
		<%if (app.isInstalled) {%>
			<i class="icon-duotone icon-solid icon-circle-check icon-fw me-2" style="--icon-secondary-color: var(--bs-green);"></i>
		<%} else if (app.isFailed) {%>
			<i class="icon-duotone icon-solid icon-circle-xmark icon-fw me-2" style="--icon-secondary-color: var(--bs-red);"></i>
		<%} else {%>
			<div class="spinner-border spinner-border-sm text-gray-600 me-2"></div>
		<%}%>
		<span class="text-body"><%=app.title%></span>
	</dt>
	<dd class="ms-4 ps-2">
		<small class="text-body-tertiary"><%=app.description%></small>
		<%if (app.isFailed) {%>
			<div class="text-danger"><small>Installation failed. It can be installed from the apps page once setup is finished.</small></div>
			<%if (app.failedReason) {%>
				<div class="text-body-secondary"><small><%=app.failedReason%></small></div>
			<%}%>
		<%} else if (!app.isInstalled) {%>
			<%if (app.message) {%>
				<div class="text-body-secondary"><small><%=app.message%></small></div>
			<%}%>
			<%if (app.job) {%>
				<div class="small"><%=jobProgressTemplate({ job: app.job })%></div>
			<%}%>
		<%}%>
	</dd>
<%})%>
