<%_.each(apps, (app) => {%>
	<dt class="fw-lighter d-flex align-items-center">
		<%if (app.isRunning) {%>
			<i class="icon-duotone icon-solid icon-circle-check icon-fw me-3" style="--icon-secondary-color: var(--green-500);"></i>
		<%} else if (app.isFailed) {%>
			<i class="icon-duotone icon-solid icon-circle-xmark icon-fw me-3" style="--icon-secondary-color: var(--red-500);"></i>
		<%} else {%>
			<div class="spinner-border spinner-sm fg-gray-600 me-3"></div>
		<%}%>
		<span class="fg-body"><%-app.title%></span>
	</dt>
	<dd class="ms-7 ps-3">
		<small class="fg-4"><%-app.description%></small>
		<%if (app.isFailed && !app.isRunning) {%>
			<div class="fg-danger"><small>Installation failed. Setup cannot continue until this app is installed and running.</small></div>
			<%if (app.failedReason) {%>
				<div class="fg-emphasis-secondary"><small><%-app.failedReason%></small></div>
			<%}%>
		<%} else if (!app.isRunning) {%>
			<%if (app.message) {%>
				<div class="fg-emphasis-secondary"><small><%-app.message%></small></div>
			<%}%>
			<%if (app.job) {%>
				<div class="small"><%=jobProgressTemplate({ job: app.job })%></div>
			<%}%>
			<%if (!app.isInstalling) {%>
				<div class="fg-emphasis-secondary"><small>Waiting for it to start...</small></div>
			<%}%>
		<%}%>
	</dd>
<%})%>
