<dt class="fw-lighter"><small><i class="icon-light icon-list-tree icon-fw me-1"></i>Topology <span class="text-body-tertiary">(<%=_.pluralize('group', _.size(groups), true)%>)</span></small></dt>
<dd class="vdev-tree m-0">
	<span class="d-flex flex-wrap justify-content-center gap-3">
		<%_.each(groups, (group) => {%>
			<span class="text-center">
				<span class="d-block">
					<u-badge color="<%-(group.color || 'gray')%>" pill><small><%-group.name%></small></u-badge>
				</span>
				<span class="d-inline-block">
					<%if (_.size(group.disks) > 1) {%>
						<span class="vdev-bar d-block"></span>
					<%}%>
					<span class="vdev-slots">
						<%_.each(group.disks, (disk) => {%>
							<%const tip = _.compact([disk.drive?.model, disk.drive?.serialNumber, disk.name, disk.state]).join(' &middot; ')%>
							<span class="vdev-slot">
								<%if (_.size(group.disks) > 1) {%>
									<span class="vdev-stem d-block"></span>
								<%}%>
								<i class="vdev-disk icon-duotone icon-solid icon-hard-drive <%-(disk.color || 'text-blue-500')%>" data-bs-toggle="tooltip" title="<%=tip%>"></i>
								<small class="text-body-tertiary text-truncate w-100 mt-1"><%-(disk.drive?.name || `…${disk.name.slice(-6)}`)%></small>
							</span>
						<%})%>
					</span>
				</span>
			</span>
		<%})%>
	</span>
</dd>
