<form id="profile-password" class="modal fade" tabindex="-1" novalidate>
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Change password</h5>
			</div>
			<div class="modal-body">
				<div class="alert alert-light">
					<dl class="m-0">
						<dt class="fw-light text-body-tertiary"><small>Username</small></dt>
						<dd class="title-username m-0"></dd>
					</dl>
				</div>
				<u-input type="password" name="password" label="New password" class="password" autocomplete="off"></u-input>
				<u-input type="password" name="passwordCheck" label="Confirm password" class="password-check" autocomplete="off"></u-input>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary d-flex ms-auto" data-bs-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-primary">Update</button>
			</div>
		</div>
	</div>
</form>
