<header>
	<div class="navbar navbar-position p-0">
		<div class="container-fluid ps-5 pe-0">
			<a href="/" class="navbar-brand sm:order-0 <%=(runtimeRole === 'fleet' ? 'fleet' : '')%>" <%=(runtimeRole === 'fleet' ? 'rel="external"' : '')%>>
				<span class="fw-normal ms-1"><%=(runtimeRole === 'node' ? 'univrs' : 'Fleet')%></span>
			</a>
			<div class="navbar-glass navbar-glass-shadow d-flex align-items-center justify-content-end">
				<div class="account sm:d-none"></div>
				<button type="button" class="navbar-toggler btn-icon btn-link text-decoration-none <%=(!isAuthenticated || isUpdating ? 'd-none' : '')%>" data-bs-toggle="drawer" data-bs-target=".drawer" role="button">
					<i class="icon-solid icon-ellipsis-vertical icon-fw icon-fw fg-secondary"></i>
				</button>
			</div>
		</div>
	</div>
	<nav class="bg-primary d-none sm:d-block">
		<div id="navbar" class="navbar d-flex flex-column">
			<hr class="border-gray-200 w-100 mt-0 mb-5 opacity-25">
			<div class="nodes w-100"></div>
			<div class="nav nav-pills mb-auto"></div>
			<hr class="border-gray-200 w-100 my-0 opacity-25">
			<button type="button" class="menu-toggle btn-link btn-sm fs-md text-decoration-none align-self-start border-0 px-3 py-1 fg-white" data-collapse-title="Collapse" data-expand-title="Expand">
				<i class="icon-duotone icon-solid icon-sidebar icon-fw"></i>
			</button>
			<hr class="border-gray-200 w-100 mt-0 mb-3 opacity-25">
			<div class="account mb--3"></div>
		</div>
	</nav>
</header>
