<%_.each(windows, (item) => {%>
	<div class="d-flex align-items-center">
		<a href="#" class="nav-window nav-item nav-link d-flex align-items-center flex-grow-1 min-w-0 text-white <%=(item.maximized ? (item.minimized ? 'text-opacity-75' : 'active') : (item.minimized ? 'text-opacity-50 fst-italic' : (item.active ? '' : 'text-opacity-75')))%>" data-window-id="<%-item.id%>">
			<span class="window-icon d-flex justify-content-center align-items-center flex-shrink-0 rounded-1 bg-white text-body <%=(item.minimized ? 'opacity-50' : '')%>">
				<%if (!item.icon) {%>
					<i class="icon-light icon-layer-group icon-sm"></i>
				<%} else {%>
					<img src="<%-(_.includes(item.icon, '/') ? item.icon : `assets/img/${item.type}s/${item.icon}`)%>">
				<%}%>
			</span>
			<span class="nav-label flex-grow-1 text-truncate ms-2">&nbsp;<%-item.label%></span>
			<%if (item.maximized) {%>
				<i class="unmaximize-window icon-regular icon-clone icon-xs icon-fw p-1 me-2"></i>
			<%}%>
			<i class="close-window icon-solid icon-times icon-xs icon-fw p-1"></i>
		</a>
	</div>
<%});%>
