<div>
	<div class="widget-small-content-bounds">
		<div class="weather-columns d-flex mt-4 justify-content-center">
			<%_.each(data.columns, (column, i) => {%>
				<div class="weather-column <%=(data.currentColumn === i ? 'weather-column-current' : '')%>">
					<%if (column.hasPrecipitation) {%>
						<div class="weather-column-rain"></div>
					<%}%>
					<%if (data.sunriseColumn <= i && data.sunsetColumn >= i) {%>
						<div class="weather-column-daylight <%=(data.sunriseColumn === i ? 'weather-column-daylight-sunrise' : '')%> <%=(data.sunsetColumn === i ? ' weather-column-daylight-sunset' : '')%>"></div>
					<%}%>
					<div class="weather-column-value <%=(column.temperature < 0 ? 'weather-column-value-negative' : '')%>"><%=column.temperature%></div>
					<div class="weather-bar" style="--weather-bar-height: <%=column.scale.toFixed(2)%>;"></div>
					<div class="weather-column-time"><%=data.timeLabels[i]%></div>
				</div>
			<%})%>
		</div>
		
		<div class="d-flex align-items-center justify-content-center mt-4 d-none">
			<i class="icon-solid icon-location-dot me-2"></i>
			<span>Timisoara, Romania</span>
		</div>
	</div>
</div>
