<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 item">
	<div class="card position-relative rounded-4 border-0">
		<div class="card-body ps-0 py-1">
			<div class="row g-0 align-items-center">
				<div class="card-image card-spacer col-auto p-2">
					<%if (pool.name === 'system') {%>
						<i class="icon-light icon-sd-card"></i>
					<%} else {%>
						<i class="icon-light icon-database"></i>
					<%}%>
				</div>
				<div class="col flex-grow-1 text-truncate">
					<%if (pool.name === 'system') {%>
						VirgoOS
					<% } else if (pool.name === 'messier') {%>
						Data
					<%} else {%>
						<%=pool.name%>
					<%}%>
				</div>
			</div>
			<div class="row g-0 mt-n2 mb-2">
				<div class="card-spacer col-auto p-2"></div>
				<div class="col flex-grow-1 text-secondary">
					<dl class="m-0"></dl>
						<dt class="fw-lighter"><small>Health</small></dt>
						<dd><span class="badge rounded-pill bd-<%=(pool.properties.health.value.toLowerCase() === 'online' ? 'green' : 'red')%>-100"><%=pool.properties.health.value%></span></dd>
						<dt class="fw-lighter"><small>Capacity</small></dt>
						<dd><%=bytes(pool.properties.size.value)%></dd>
						<div class="d-flex justify-content-between">
							<div>
								<dt class="fw-lighter"><small>Used</small></dt>
								<dd class="m-0"><%=bytes(pool.properties.allocated.value)%></dd>
							</div>
							<div class="text-end">
								<dt class="fw-lighter"><small>Free</small></dt>
								<dd class="m-0"><%=bytes(pool.properties.free.value)%></dd>
							</div>
						</div>
						<div class="progress mt-1" role="progressbar">
							<div class="progress-bar bg-blue-300" style="width: <%=(pool.properties.capacity.value)%>%;"></div>
						</div>
						<div class="d-flex justify-content-between lh-1 text-body-tertiary mt-1 mb-2">
							<small class="text-body-tertiary"><%=pool.properties.capacity.value?.toFixed(0)%>%</small>
							<small class="text-body-tertiary"><%=(100 - pool.properties.capacity.value)?.toFixed(0)%>%</small>
						</div>
						<dt class="fw-lighter d-none"><small>Drives</small></dt>
						<%_.each(drives, (drive) => {%>
							<dd class="d-flex align-items-center m-0 d-none">
								<i class="icon-regular icon-hard-drive icon-fw me-1 text-gray-500"></i>
								<span><%=_.last(drive.name.split('/'))%> &middot; <%=drive.temperature%> °C</span>
							</dd>
						<%})%>
						
						<%if (pool?.type?.toLowerCase() === 'pool') {%>
							<%if (pool.scan_stats?.state.toLowerCase() !== 'finished') {%>
								<%let progress = (pool.scan_stats.to_examine === 0 ? 0 : (pool.scan_stats.issued / pool.scan_stats.to_examine) * 100)%>
								<dt class="fw-lighter">
									<small>
										<%if (pool.scan_stats.scrub_pause === 0) {%>
											Running data integrity check...
										<%} else if (pool.scan_stats.scrub_pause !== 0) {%>
											Data integrity check paused
										<%}%>
									</small>
								</dt>
								<%if (pool.scan_stats.status === 'paused') {%>
									<dd class="d-flex align-items-center m-0"><%=_.upperFirst(pool.scan)%></dd>
								<%}%>
								<div class="row g-0 d-flex align-items-baseline">
									<div class="col">
										<div class="progress" role="progressbar">
											<div class="progress-bar bg-cyan-300 <%=(pool.scan_stats.scrub_pause === 0 ? 'progress-bar-striped progress-bar-animated' : '')%>" style="width: <%=(progress)%>%;"></div>
										</div>
									</div>
									<div class="col-auto lh-1 text-body-tertiary text-end" style="width: 45px;">
										<small class="fw-light"><%=progress?.toFixed(0)%>%</small>
									</div>
								</div>
							<%} else {%>
								<dt class="fw-lighter"><small>Data integrity</small></dt>
								<dd class="m-0">Last data integrity check repaired <strong><%=bytes(pool.scan_stats.processed)%></strong> in <%=moment.duration(moment.unix(pool.scan_stats.end_time).diff(moment.unix(pool.scan_stats.start_time))).humanize()%> with <strong><%=pool.scan_stats.errors%> errors</strong> on <%=moment.utc(pool.scan_stats.end_time, 'X').toString()%></dd>
							<%}%>
						<%}%>
					</dl>
				</div>
			</div>
		</div>
	</div>
</div>
