<tr class="pool" data-id="<%=pool.poolGuid%>">
	<td class="d-none d-md-table-cell" style="width: 1px;">
		<div class="row-image">
			<%if (pool.name === 'system') {%>
				<i class="icon-light icon-sd-card"></i>
			<%} else {%>
				<i class="icon-light icon-database"></i>
			<%}%>
		</div>
	</td>
	<td style="min-width: 210px; max-width: 0;">
		<div class="d-flex align-items-center mb-n1">
			<div class="text-truncate">
				<%if (pool.name === 'system') {%>
					VirgoOS
				<%} else {%>
					<%=pool.name%>
				<%}%>
			</div>
			<%const rootVdev = pool.vdevs?.[pool.name]%>
			<%const childVdevs = (rootVdev?.vdevs ? Object.values(rootVdev.vdevs) : [])%>
			<%const poolConfig = (childVdevs.length > 0 ? childVdevs[0].vdevType : null)%>
			<%if (poolConfig && poolConfig !== 'disk') {%>
				<u-badge class="ms-2" pill><small><%=poolConfig%></small></u-badge>
			<%}%>
		</div>
		<div class="d-flex">
			<div class="text-truncate"><small class="text-body-tertiary"><%=(pool.name === 'system' ? 'system' : 'data')%></small></div>
		</div>
	</td>
	<td class="text-end text-nowrap d-none d-md-table-cell">
		<small class="fw-light"><%=prettyBytes(pool.properties.size.value || 0, { binary: true })%></small>
	</td>
	<td class="text-end text-nowrap d-none d-md-table-cell">
		<small class="fw-light" data-bs-toggle="tooltip" data-bs-original-title="<%=prettyBytes(pool.properties.allocated.value || 0, { binary: true })%>"><%=pool.properties.capacity.value?.toFixed(2)%>%</small>
		<u-progress shadow="false">
			<%if (pool.name === 'system') {%>
				<u-progress-bar width="<%=pool.properties.capacity.value%>"></u-progress-bar>
			<%} else {%>
				<u-progress-bar width="<%=(pool.properties.usedbydatasets.value / pool.properties.size.value * 100)%>" tip="Data"></u-progress-bar>
				<u-progress-bar color="indigo" tint="100" width="<%=(pool.properties.usedbysnapshots.value / pool.properties.size.value * 100)%>" tip="Snapshots"></u-progress-bar>
			<%}%>
		</u-progress>
	</td>
	<td class="<%=(pool.type?.toLowerCase() === 'pool' && pool.scanStats?.state.toLowerCase() === 'scanning' ? 'text-end' : 'text-center')%> text-nowrap d-none d-md-table-cell">
		<%if (pool.type?.toLowerCase() === 'pool' && pool.scanStats) {%>
			<%if (pool.scanStats?.state.toLowerCase() === 'finished') {%>
				<%const duration = moment.duration(moment.unix(pool.scanStats.endTime).diff(moment.unix(pool.scanStats.startTime))).humanize()%>
				<%const tip = `Completed ${moment.unix(pool.scanStats.endTime).fromNow()}.<br>Took ${duration} to scan <strong>${prettyBytes(pool.scanStats.toExamine || 0, { binary: true })}</strong>.<br>Repaired <strong>${prettyBytes(pool.scanStats.processed || 0, { binary: true })}</strong>, ${pool.scanStats.errors || 0} errors.`%>
				<%if (pool.scanStats.errors > 0) {%>
					<i class="icon-solid icon-triangle-exclamation icon-fw text-red-300" data-bs-toggle="tooltip" data-bs-original-title="<%=tip%>" data-bs-custom-class="storage-scan-progress"></i>
				<%} else {%>
					<i class="icon-solid icon-circle-check icon-fw text-green-300" data-bs-toggle="tooltip" data-bs-original-title="<%=tip%>" data-bs-custom-class="storage-scan-progress"></i>
				<%}%>
			<%}%>
			<%if (pool.scanStats?.state.toLowerCase() === 'scanning') {%>
				<%const isPaused = (pool.scanStats.scrubPause > 0)%>
				<%const total = prettyBytes(pool.scanStats.toExamine || 0, { binary: true })%>
				<%const scanned = `${prettyBytes(pool.scanStats.examined || 0, { binary: true })} / ${total}`%>
				<%const issued = `${prettyBytes(pool.scanStats.issued || 0, { binary: true })} / ${total}`%>
				<%const tip = (isPaused ? `<strong>Paused</strong> since ${moment.unix(pool.scanStats.scrubPause).fromNow()}.<br>` : ``) + `Started ${moment.unix(pool.scanStats.startTime).fromNow()}.<br>Scanned ${scanned}.<br>Issued ${issued}.<br>Repaired <strong>${prettyBytes(pool.scanStats.processed || 0, { binary: true })}</strong>, ${pool.scanStats.errors || 0} errors.`%>
				<%const progress = (pool.scanStats.toExamine === 0 ? 0 : (pool.scanStats.issued / pool.scanStats.toExamine) * 100)%>
				<small class="fw-light" data-bs-toggle="tooltip" data-bs-original-title="<%=tip%>" data-bs-custom-class="storage-scan-progress"><%=progress.toFixed(2)%>%</small>
				<u-progress shadow="false">
					<u-progress-bar color="cyan" tint="300" width="<%=progress%>" striped="<%=(!isPaused)%>" animated="<%=(!isPaused)%>"></u-progress-bar>
				</u-progress>
			<%}%>
		<%} else {%>
			&mdash;
		<%}%>
	</td>
	<td>
		<u-badge color="<%=(pool.properties.health.value.toLowerCase() === 'online' ? 'green' : 'red')%>" pill><small><%=pool.properties.health.value%></small></u-badge>
	</td>
	<td class="text-center px-0">
		<div class="dropdown">
			<span data-bs-toggle="dropdown" class="dropdown-toggle caret-off btn btn-sm">
				<i class="icon-solid icon-ellipsis-vertical icon-fw text-secondary"></i>
			</span>
			<ul class="dropdown-menu">
				<li><button type="button" class="dropdown-item disabled">No actions</button></li>
			</ul>
		</div>
	</td>
</tr>
