<div class="col col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 item">
	<div class="pool card rounded-4 border-0 h-100 mb-0">
		<div class="card-body ps-0 py-1">
			<div class="row g-0 align-items-center">
				<div class="card-image card-spacer col-auto p-2">
					<%if (pool.name === 'system') {%>
						<i class="icon-light icon-sd-card"></i>
					<%} else {%>
						<i class="icon-light icon-database"></i>
					<%}%>
				</div>
				<div class="col flex-grow-1 text-truncate">
					<%if (pool.name === 'system') {%>
						VirgoOS
					<% } else if (pool.name === 'messier') {%>
						Data
					<%} else {%>
						<%=pool.name%>
					<%}%>
				</div>
			</div>
			<div class="row g-0 mt-n2 mb-2">
				<div class="card-spacer col-auto p-2"></div>
				<div class="col flex-grow-1 text-secondary">
					<dl class="m-0"></dl>
						<dt class="fw-lighter"><small>Health</small></dt>
						<dd><span class="badge rounded-pill bd-<%=(pool.properties.health.value.toLowerCase() === 'online' ? 'green' : 'red')%>-100"><%=pool.properties.health.value%></span></dd>
						<dt class="fw-lighter"><small>Capacity</small></dt>
						<dd><%=prettyBytes(pool.properties.size.value || 0, { binary: true })%></dd>
						<div class="d-flex justify-content-between">
							<div>
								<dt class="fw-lighter"><small>Used</small></dt>
								<dd class="m-0"><%=prettyBytes(pool.properties.allocated.value || 0, { binary: true })%></dd>
							</div>
							<div class="text-end">
								<dt class="fw-lighter"><small>Free</small></dt>
								<dd class="m-0"><%=prettyBytes(pool.properties.free.value || 0, { binary: true })%></dd>
							</div>
						</div>
						<%if (pool.name === 'system') {%>
							<div class="progress mt-1" role="progressbar">
								<div class="progress-bar bg-blue-300" style="width: <%=(pool.properties.capacity.value)%>%;"></div>
							</div>
						<%} else {%>
							<div class="progress" role="progressbar">
								<div class="progress-bar bg-blue-300" style="width: <%=pool.properties.usedbydatasets.percent%>%;"></div>
								<div class="progress-bar bg-indigo-300" style="width: <%=pool.properties.usedbysnapshots.percent%>%;"></div>
							</div>
						<%}%>
						<div class="d-flex justify-content-between lh-1 text-body-tertiary mt-1 mb-2">
							<small class="text-body-tertiary"><%=pool.properties.capacity.value?.toFixed(0)%>%</small>
							<small class="text-body-tertiary"><%=(100 - pool.properties.capacity.value)?.toFixed(0)%>%</small>
						</div>
						<%if (pool.name !== 'system') {%>
							<div class="mt-n1 mb-2">
								<div class="d-flex align-items-center">
									<i class="icon icon-solid icon-circle-small icon-fw" style="color: var(--bs-blue-300);"></i>
									<small>Data: <%=prettyBytes(pool.properties.usedbydatasets.value || 0, { binary: true })%> &middot; <%=pool.properties.usedbydatasets.percent.toFixed(0)%>%</small>
								</div>
								<div class="d-flex align-items-center">
									<i class="icon icon-solid icon-circle-small icon-fw" style="color: var(--bs-indigo-300);"></i>
									<small>Snapshots: <%=prettyBytes(pool.properties.usedbysnapshots.value || 0, { binary: true })%> &middot; <%=pool.properties.usedbysnapshots.percent.toFixed(0)%>%</small>
								</div>
							</div>
						<%}%>
						<dt class="fw-lighter d-none"><small>Drives</small></dt>
						<%_.each(drives, (drive) => {%>
							<dd class="d-flex align-items-center m-0 d-none">
								<i class="icon-regular icon-hard-drive icon-fw me-1 text-gray-500"></i>
								<span><%=_.last(drive.name.split('/'))%> &middot; <%=drive.temperature%> °C</span>
							</dd>
						<%})%>
					</dl>
				</div>
			</div>
		</div>
		<%if (pool?.type?.toLowerCase() === 'pool' && pool?.scanStats) {%>
			<div class="card-footer d-flex bg-gray-100 rounded-bottom-4 text-body-secondary px-5 py-1">
				<dl class="m-0">
					<%if (pool.scanStats?.state.toLowerCase() !== 'finished') {%>
						<%const progress = (pool.scanStats.toExamine === 0 ? 0 : (pool.scanStats.issued / pool.scanStats.toExamine) * 100)%>
						<dt class="fw-lighter">
							<small>
								<%if (pool.scanStats.scrubPause === 0) {%>
									Running data integrity check...
								<%} else if (pool.scanStats.scrubPause !== 0) {%>
									Data integrity check paused
								<%}%>
							</small>
						</dt>
						<%if (pool.scanStats.status === 'paused') {%>
							<dd class="d-flex align-items-center m-0"><%=_.upperFirst(pool.scan)%></dd>
						<%}%>
						<div class="row g-0 d-flex align-items-baseline">
							<div class="col">
								<div class="progress" role="progressbar">
									<div class="progress-bar bg-cyan-300 <%=(pool.scanStats.scrubPause === 0 ? 'progress-bar-striped progress-bar-animated' : '')%>" style="width: <%=(progress)%>%;"></div>
								</div>
							</div>
							<div class="col-auto lh-1 text-body-tertiary text-end" style="width: 45px;">
								<small class="fw-light"><%=progress?.toFixed(0)%>%</small>
							</div>
						</div>
					<%} else {%>
						<dt class="fw-lighter"><small>Data integrity</small></dt>
						<dd class="m-0">Last data integrity check repaired <strong><%=prettyBytes(pool.scanStats.processed || 0, { binary: true })%></strong> in <%=moment.duration(moment.unix(pool.scanStats.endTime).diff(moment.unix(pool.scanStats.startTime))).humanize()%> with <strong><%=pool.scanStats.errors%> errors</strong> on <%=moment.utc(pool.scanStats.endTime, 'X').toString()%></dd>
					<%}%>
				</dl>
			</div>
		<%}%>
	</div>
</div>
