<div class="col col-12">
	<div class="card rounded-4 border-0">
		<div class="card-body">
			<a href="#location" class="btn btn-link p-0 float-end" data-bs-toggle="modal">Edit</a>
			<h5 class="card-title d-flex align-items-center">Location</h5>
			<%if (_.isNull(location)) {%>
				Not configured
			<%} else {%>
				<dl class="m-0">
					<dt class="fw-lighter"><small>Latitude</small></dt>
					<dd><%=location?.latitude%></dd>
					<dt class="fw-lighter"><small>Longitude</small></dt>
					<dd class="m-0"><%=location?.longitude%></dd>
				</dl>
			<%}%>
		</div>
	</div>
</div>
