<div class="col-12 col-md-6 col-lg-4">
	<div class="card position-relative rounded-4 border-0">
		<div class="card-body">
			<h5 class="card-title d-flex align-items-center">
				Notifications
				<a href="#smtp" class="btn btn-link p-0 ms-auto" data-bs-toggle="modal">Edit</a>
			</h5>
			<%if (_.isNull(smtp)) {%>
				Not configured
			<%} else {%>
				<dl class="m-0">
					<h6>SMTP server</h6>
					<dt class="fw-lighter"><small>Encryption</small></dt>
					<dd><%=(smtp?.encryption?.toLowerCase() === 'ssl' ? 'SSL' : 'None/StartTLS')%></dd>
					<dt class="fw-lighter"><small>SMTP server</small></dt>
					<dd><%=smtp?.address%></dd>
					<dt class="fw-lighter"><small>Port</small></dt>
					<dd><%=smtp?.port%></dd>
					<dt class="fw-lighter"><small>SMTP username</small></dt>
					<dd><%=smtp?.username%></dd>
					<dt class="fw-lighter"><small>Sender email address</small></dt>
					<dd><%=smtp?.sender%></dd>

					<hr class="border-secondary-subtle my-4">

					<h6>Recipients</h6>
					<dd class="m-0">
						<div class="recipients">
							<%if (!smtp?.recipients) {%>
								<span class="text-danger">No recipient configured</span>
							<%} else {%>
								<%_.each(smtp?.recipients, (recipient) => {%>
									<div class="d-flex align-items-center">
										<svg xmlns="http://www.w3.org/2000/svg" class="fa me-2" viewBox="0 0 448 512"><path d="M320 128a96 96 0 1 0 -192 0 96 96 0 1 0 192 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM32 480l384 0c-1.2-79.7-66.2-144-146.3-144l-91.4 0c-80 0-145 64.3-146.3 144zM0 482.3C0 383.8 79.8 304 178.3 304l91.4 0C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7L29.7 512C13.3 512 0 498.7 0 482.3z"/></svg>
										<div><%=recipient%></div>
									</div>
								<%})%>
							<%}%>
						</div>
					</dd>
				</dl>
			<%}%>
		</div>
	</div>
</div>
