<div class="col-12 col-md-6 col-lg-4">
	<div class="card position-relative rounded-4 border-0">
		<div class="card-body">
			<h5 class="card-title d-flex align-items-center">
				Notifications
				<a href="#smtp" class="btn btn-link p-0 ms-auto" data-bs-toggle="modal">Edit</a>
			</h5>
			<%if (_.isNull(smtp)) {%>
				Not configured
			<%} else {%>
				<dl class="m-0">
					<dt class="fw-lighter"><small>Encryption</small></dt>
					<dd><%=(smtp?.encryption?.toLowerCase() === 'ssl' ? 'SSL' : 'None/StartTLS')%></dd>
					<dt class="fw-lighter"><small>Address</small></dt>
					<dd><%=smtp?.address%></dd>
					<dt class="fw-lighter"><small>Port</small></dt>
					<dd><%=smtp?.port%></dd>
					<dt class="fw-lighter"><small>Username</small></dt>
					<dd><%=smtp?.username%></dd>
					<dt class="fw-lighter"><small>Sender email</small></dt>
					<dd><%=smtp?.sender%></dd>
					<dt class="fw-lighter"><small>Recipients</small></dt>
					<dd class="m-0">
						<div class="recipients d-flex flex-wrap gap-2">
							<%_.each(smtp?.recipients, (recipient) => {%>
								<span class="badge d-flex align-items-center p-1 pe-2 text-light-emphasis bg-light-subtle border border-dark-subtle rounded-pill">
									<span class="fs-6 fw-normal px-1"><%=recipient%></span>
								</span>
							<%})%>
						</div>
					</dd>
				</dl>
			<%}%>
		</div>
	</div>
</div>
