<div id="dashboard" class="d-none">
	<div class="row">
		<div id="resources-monitor" class="col col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 order-last order-sm-first">
			<h5>Status</h5>
			<div class="card rounded-4 border-0">
				<div class="card-body p-2">
					<div class="d-flex justify-content-center p-5">
						<div class="spinner-border spinner-border-sm text-gray-600"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col col-xl-9 col-lg-8 col-md-6 col-sm-12 col-12 order-first order-sm-last">
			<div id="apps-bookmars"></div>
			<div id="shares"></div>
		</div>
	</div>
</div>
