<div id="dashboard" class="d-none">
	<div class="row">
		<div class="col xl:col-3 lg:col-4 md:col-6 sm:col-12 col-12 order-last sm:order-first pt-3">
			<div class="d-flex align-items-center pb-3">
				<u-badge color="gray" tint="100" pill>Status</u-badge>
			</div>
			<div id="peer"></div>
			<div id="resources-monitor">
				<div class="card border-0">
					<div class="card-body p-3">
						<div class="d-flex justify-content-center p-12">
							<div class="spinner-border spinner-sm fg-gray-600"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col xl:col-9 lg:col-8 md:col-6 sm:col-12 col-12 order-first sm:order-last">
			<div id="weather"></div>
			<div id="apps-shortcuts"></div>
			<div id="shares"></div>
		</div>
	</div>
</div>
