<div id="weather">
	<div class="row">
		<div class="col xl:col-4 lg:col-4 md:col-12 sm:col-12 col-12 pt-3">
			<div class="d-flex align-items-center pb-3">
				<u-badge color="gray" tint="100" pill>Weather</u-badge>
			</div>
			<div class="card border-0 cursor-pointer mb-5" tabindex="0">
				<div class="card-body p-3">
					<div class="row g-0 align-items-center" style="height: 38px;">
						<div class="col-auto" style="width: 55px;">
							<div class="weather-icon"><%=weather.icon%></div>
						</div>
						<div class="col lh-1">
							<small class="temperature fw-bold fg-body fg-80"><%-weather.temperature%></small><br>
							<small class="condition d-inline-block fg-body fg-80 text-truncate"><%=_.capitalize(weather.condition)%></small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
