<div id="software-update" class="d-none">
	<div class="row">
		<div class="col-12 position-relative mb-1">
			<h5>Software update</h5>
		</div>
		<div class="loading d-flex justify-content-center align-items-center h-100"><div class="spinner-border text-gray-600"></div></div>
		<div class="oops d-flex justify-content-center align-items-center h-100 d-none"><span class="text-red-300">Error fetching data</span></div>
		<div class="container-fluid">
			<div class="row"></div>
		</div>
	</div>
</div>
