<div class="col-12 text-secondary">
	<div class="card position-relative rounded-4 border-0">
		<div class="card-body">
			<h5 class="card-title"><%=_.pluralize('update', _.size(updates), true)%> available:</h5>
			<ul class="overflow-y-scroll">
				<%_.each(updates, (update) => {%>
					<li><%=update.package%> <small class="text-secondary">(<%=update.version.installed%> &rarr; <%=update.version.upgradableTo%>)</small></li>
				<%})%>
			</ul>
			<div class="d-flex align-items-center">
				<a href="#" class="check-updates btn btn-sm me-auto <%=(checkUpdates ? 'cursor-default' : '')%>">
					<i class="icon-solid icon-arrows-rotate <%=(checkUpdates ? 'icon-spin' : '')%> me-1" style="color: var(--bs-green);"></i><%=(checkUpdates ? 'Checking for updates...' : 'Check for new updates')%>
				</a>
				<button type="button" class="install btn btn-primary ms-auto" <%=(checkUpdates ? 'disabled' : '')%>>Upgrade now</button>
			</div>
		</div>
	</div>
</div>
