<div class="col-12">
	<div class="card position-relative rounded-4 border-0">
		<div class="card-body">
			<h5 class="card-title"><%=_.pluralize('update', _.size(updates), true)%> available:</h5>
			<ul class="ps-3">
				<%_.each(updates, (update) => {%>
					<li><%=update.package%> <small class="text-secondary">(<%=update.version.installed%> &rarr; <%=update.version.upgradableTo%>)</small></li>
				<%})%>
			</ul>
			<button type="button" class="install btn btn-primary d-flex ms-auto">Upgrade now</button>
		</div>
	</div>
</div>
