<div class="col col-12 mb-3">
	<div class="row gx-4 gy-2">
		<div class="col-12 col-lg-4 col-xxl-3">
			<h6 class="m-0">virgoOS</h6>
			<p class="text-body-secondary small mt-1 mb-0">The node checks for updates every day at midnight.</p>
		</div>
		<div class="col-12 col-lg-8 col-xxl-9">
			<div class="card rounded-4 border-0 mb-0">
				<div class="card-body d-flex flex-column">
					<div class="d-flex align-items-center gap-3">
						<div class="d-flex align-items-center justify-content-center flex-shrink-0 size-5 rounded-3 bg-blue-100 text-blue-500 align-self-start"><i class="icon-duotone icon-solid icon-download"></i></div>
						<div class="min-w-0 me-auto">
							<div class="fs-5 lh-sm"><%=_.pluralize('update', _.size(updates), true)%> available</div>
							<small class="d-block text-body-tertiary lh-sm">Ready to install</small>
						</div>
						<a href="#" class="check-updates btn btn-link text-nowrap align-self-start border-0 px-0 py-2 mt-1 <%=(checkUpdates ? 'disabled' : '')%>">
							<i class="icon-solid icon-arrows-rotate icon-fw <%=(checkUpdates ? 'icon-spin' : '')%>"></i><span class="d-none d-md-inline ms-1"><%=(checkUpdates ? 'Checking for updates...' : 'Check for new updates')%></span>
						</a>
						<u-button variant="primary" class="install flex-shrink-0 align-self-start mt-1" tip="<%=(hasUpdatingApps ? 'An app update is in progress' : '')%>" <%=(checkUpdates || hasUpdatingApps ? 'disabled' : '')%>>Install</u-button>
					</div>

					<hr class="border-secondary-subtle flex-shrink-0 mt-4 mb-2">

					<div class="overflow-y-auto pe-3 me-n3">
						<%_.each(updates, (update, index) => {%>
							<div class="py-2 <%=(index > 0 ? 'border-top' : '')%>">
								<div class="text-break"><%-update.package%></div>
								<small class="d-block text-body-tertiary text-break"><%-update.version.installed%> &rarr; <%-update.version.updatableTo%></small>
							</div>
						<%})%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
