<tr class="app" data-name="<%=app.name%>">
	<td class="p-0" style="width: 1%;">
		<div class="card-image p-2">
			<img src="<%=(_.includes(app.icon, '/') ? app.icon : `/assets/img/apps/${app.icon}`)%>">
		</div>
	</td>
	<td>
		<div class="d-flex align-items-center">
			<div class="text-truncate"><%=app.title%></div>
			<%if (app.hasUpdates) {%>
				<div class="badge bd-green-100 rounded-pill ms-2" data-bs-toggle="tooltip" data-bs-original-title="Updates available">
					<i class="icon-solid icon-download icon-fw"></i>
				</div>
			<%}%>
		</div>
		<div>
			<%if (!_.isEmpty(app.url)) {%>
				<a href="<%=app.url%>" target="<%=(app?.target || app.name)%>" class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover"><small><%=_.replace(app.url, /^https?:\/\//, '')%></small></a>
			<%} else {%>
				&nbsp;
			<%}%>
		</div>
	</td>
	<td class="text-end">
		<%if (!app.resourceMetrics) {%>
			<i class="icon-solid icon-spinner-third icon-fw icon-spin"></i>
		<%} else {%>
			<small class="fw-light"><%=prettyBytes(app.resourceMetrics?.storage?.dataset || 0, { binary: true })%></small>
		<%}%>
	</td>
	<td class="text-end">
		<%if (!app.resourceMetrics) {%>
			<i class="icon-solid icon-spinner-third icon-fw icon-spin"></i>
		<%} else {%>
			<small class="fw-light"><%=prettyBytes(app.resourceMetrics?.storage?.snapshots || 0, { binary: true })%></small>
		<%}%>
	</td>
	<td class="text-center">
		<%let color =''%>
		<%if (app.state === 'success') color = 'green'%>
		<%if (app.state === 'warning') color = 'yellow'%>
		<%if (_.includes(['danger', undefined], app.state)) color = 'red'%>
		<span class="badge border border-light rounded-pill <%=`bd-${color}-100`%> fw-light">
			<%=_.size(_.filter(app.projectContainers, { state: 'running' }))%> / <%=_.size(app.projectContainers)%>
		</span>
	</td>
	<td class="text-center">
		<%if (!_.isEmpty(jobs)) {%>
			<i class="icon-solid icon-gear icon-fw icon-spin"></i>
		<%}%>
		<%if ((app.canBeRemoved || app.hasUpdates) && _.isEmpty(jobs)) {%>
			<div class="dropdown">
				<span data-bs-toggle="dropdown" class="dropdown-toggle caret-off btn btn-sm">
					<i class="icon-solid icon-ellipsis-vertical icon-fw text-secondary"></i>
				</span>
				<ul class="dropdown-menu">
					<%if (app.hasUpdates) {%>
						<li><a href="#" class="dropdown-item" data-action="update">Update</a></li>
					<%}%>
					<%if (app.canBeRemoved && app.hasUpdates) {%>
						<li><hr class="dropdown-divider"></li>
					<%}%>
					<%if (app.canBeRemoved) {%>
						<li><a href="#" class="dropdown-item <%=(app.state === 'success' ? 'disabled' : '')%>" data-action="start">Start</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a href="#" class="dropdown-item <%=(_.includes(['success', 'warning'], app.state) ? 'text-danger' : 'disabled')%>" data-action="stop">Stop</a></li>
						<li><a href="#" class="dropdown-item <%=(_.includes(['success', 'warning'], app.state) ? 'text-danger' : 'disabled')%>" data-action="kill">Kill</a></li>
						<li><a href="#" class="dropdown-item <%=(_.includes(['success', 'warning'], app.state) ? 'text-danger' : 'disabled')%>" data-action="restart">Restart</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a href="#" class="dropdown-item text-danger" data-action="recreate">Recreate</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a href="#" class="dropdown-item <%=(app.canBeRemoved ? 'text-danger' : 'disabled')%>" data-action="remove">Remove</a></li>
					<%}%>
				</ul>
			</div>
		<%}%>
	</td>
	<td class="text-center p-0">
		<button class="expand btn px-2"><i class="icon-solid icon-eye icon-fw"></i></button>
	</td>
</tr>
