<tr class="app cursor-pointer" data-name="<%=app.name%>">
	<td class="d-none d-md-table-cell" style="width: 1px;">
		<div class="row-image">
			<img src="<%=(_.includes(app.icon, '/') ? app.icon : `/assets/img/apps/${app.icon}`)%>">
		</div>
	</td>
	<td style="min-width: 210px; max-width: 0;">
		<div class="d-flex align-items-center mb-n1">
			<div class="text-truncate"><%=app.title%></div>
			<%if (app.hasUpdates) {%>
				<u-badge color="green" class="ms-2" tip="Updates available" pill>
					<i class="icon-solid icon-download icon-fw"></i>
				</u-badge>
			<%}%>
		</div>
		<%if (!_.isEmpty(app.url)) {%>
			<a href="<%=app.url%>" target="<%=(app?.target || app.name)%>" class="d-inline-flex align-items-center link-underline link-underline-opacity-0 link-underline-opacity-75-hover pe-none pe-md-auto" style="max-width: 100%;">
				<small class="text-truncate" style="min-width: 0;"><%=_.replace(app.url, /^https?:\/\//, '')%></small><i class="icon-solid icon-arrow-up-right-from-square icon-fw icon-2xs ms-1 d-none d-sm-block"></i>
			</a>
		<%} else {%>
			&mdash;
		<%}%>
	</td>
	<td class="text-end text-nowrap d-none d-md-table-cell">
		<%if (!app.resourceMetrics) {%>
			<i class="icon-solid icon-spinner-third icon-fw icon-spin"></i>
		<%} else {%>
			<small class="fw-light"><%=app.resourceMetrics?.cpu?.percent.toFixed(2)%>%</small>
			<div class="progress shadow-none" role="progressbar" style="height: 6px;">
				<div class="progress-bar bg-blue-300" style="width: <%=app.resourceMetrics?.cpu?.percent%>%;"></div>
			</div>
		<%}%>
	</td>
	<td class="text-end text-nowrap d-none d-md-table-cell">
		<%if (!app.resourceMetrics) {%>
			<i class="icon-solid icon-spinner-third icon-fw icon-spin"></i>
		<%} else {%>
			<small class="fw-light" data-bs-toggle="tooltip" data-bs-original-title="<%=prettyBytes(app.resourceMetrics?.memory?.usage || 0, { binary: true })%>"><%=app.resourceMetrics?.memory?.percent.toFixed(2)%>%</small>
			<div class="progress shadow-none" role="progressbar" style="height: 6px;">
				<div class="progress-bar bg-blue-300" style="width: <%=app.resourceMetrics?.memory?.percent%>%;"></div>
			</div>
		<%}%>
	</td>
	<td class="text-end text-nowrap d-none d-md-table-cell">
		<%if (!app.resourceMetrics) {%>
			<i class="icon-solid icon-spinner-third icon-fw icon-spin"></i>
		<%} else {%>
			<small class="fw-light"><%=prettyBytes(app.resourceMetrics?.storage?.dataset || 0, { binary: true })%></small>
		<%}%>
	</td>
	<td class="text-end text-nowrap d-none d-md-table-cell">
		<%if (!app.resourceMetrics) {%>
			<i class="icon-solid icon-spinner-third icon-fw icon-spin"></i>
		<%} else {%>
			<small class="fw-light"><%=prettyBytes(app.resourceMetrics?.storage?.snapshots || 0, { binary: true })%></small>
		<%}%>
	</td>
	<td class="text-center text-nowrap">
		<%let color =''%>
		<%if (app.state === 'success') color = 'green'%>
		<%if (app.state === 'warning') color = 'yellow'%>
		<%if (_.includes(['danger', undefined], app.state)) color = 'red'%>
		<u-badge color="<%=color%>" pill>
			<small><%=_.size(_.filter(app.projectContainers, { state: 'running' }))%> / <%=_.size(app.projectContainers)%></small>
		</u-badge>
	</td>
	<td class="text-center px-0">
		<%=appActionsTemplate({ app, jobs })%>
	</td>
	<td class="text-center">
		<i class="icon-solid icon-angle-right icon-fw text-body-tertiary"></i>
	</td>
</tr>
