<div class="app container-fluid" data-name="<%=app.name%>">
	<div class="card rounded-4 border-0">
		<div class="card-body">
			<div class="row g-0 align-items-center mt-n2">
				<div class="col-auto me-2">
					<button class="compress btn p-0"><i class="icon-light icon-arrow-left icon-fw"></i></button>
				</div>
				<div class="card-image col-auto p-2 ms-n2">
					<img src="<%=(_.includes(app.icon, '/') ? app.icon : `/assets/img/apps/${app.icon}`)%>">
				</div>
				<div class="col">
					<div class="d-flex align-items-center">
						<div class="text-truncate"><%=app.title%></div>
						<%if (app.hasUpdates) {%>
							<div class="badge bd-green-100 rounded-pill ms-2" data-bs-toggle="tooltip" data-bs-original-title="Updates available">
								<i class="icon-solid icon-download icon-fw"></i>
							</div>
						<%}%>
					</div>
				</div>
			</div>

			<div class="position-relative ms-4 ps-1">
				<div class="logs-container d-none">
					<div class="service d-flex align-items-center justify-content-between bg-white p-2 pt-0 ps-0">
						<div class="d-flex align-items-center">
							<i class="icon-light icon-cube icon-fw me-1 text-gray-500"></i>
							<span class="name"></span>
						</div>
						<a href="#" class="close-logs btn btn-link p-0 ms-2">Close logs</a>
					</div>
					<ul class="list-unstyled overflow-y-scroll m-0"></ul>
				</div>
	
				<div class="terminal-container d-none">
					<div class="service d-flex align-items-center justify-content-between bg-white p-2 pt-0 ps-0">
						<div class="d-flex align-items-center">
							<i class="icon-light icon-cube icon-fw me-1 text-gray-500"></i>
							<span class="name"></span>
						</div>
						<a href="#" class="close-terminal btn btn-link p-0 ms-2">Close console</a>
					</div>
				</div>

				<%if (_.isEmpty(app.projectContainers)) {%>
					No services found for this app.
				<%} else {%>
					<div class="overflow-y-scroll">
						<table class="table table-hover align-middle m-0">
							<thead class="sticky-top top-0">
								<th>Service</th>
								<th>Ports</th>
								<th style="width: 1px;"></th>
								<th style="width: 1px;"></th>
								<th class="text-center" style="width: 100px;">State</th>
								<th style="width: 50px;"></th>
							</thead>
							<tbody>
								<%_.each(app.projectContainers, (container, index) => {%>
									<tr>
										<td class="text-nowrap">
											<div class="d-flex align-items-center">
												<i class="icon-light icon-cube icon-fw me-2"></i>
												<%=container.name%>
												<%if (container.hasUpdates) {%>
													<div class="badge bd-green-100 rounded-pill ms-2" data-bs-toggle="tooltip" data-bs-original-title="Updates available">
														<i class="icon-solid icon-download icon-fw"></i>
													</div>
												<%}%>
											</div>
										</td>
										<td>
											<%if (container.state === 'running') {%>
												<%const publishedPorts = _.filter(container.ports, { ip: '0.0.0.0' });%>
												<%=(_.isEmpty(publishedPorts) ? '<span class="text-body-secondary">&mdash;</span>' : '')%>
												<%_.each(_.orderBy(publishedPorts, ['privatePort'], ['asc']), (port, index) => {%>
													<span class="badge bd-gray-200 rounded-pill fw-light" data-bs-toggle="tooltip" data-bs-original-title="public &middot; private"><%=`${port.publicPort} &rlarr; ${port.privatePort}`%></span>
												<%})%>
											<%}%>
										</td>
										<td class="text-nowrap">
											<a href="#" class="logs btn btn-light btn-sm" data-id="<%=container.id%>">
												<i class="icon-light icon-memo icon-fw me-1"></i>
												Logs
											</a>
										</td>
										<td class="text-nowrap">
											<%if (container.state === 'running') {%>
												<a href="#" class="console btn btn-light btn-sm" data-id="<%=container.id%>">
													<i class="icon-light icon-rectangle-terminal icon-fw me-1"></i>
													Console
												</a>
											<%}%>
										</td>
										<td class="text-center text-nowrap">
											<span class="badge <%=(container.state === 'running' ? 'bd-green-100' : 'bd-red-100')%> rounded-pill fw-light"><%=container.state%></span>
										</td>
										<td class="text-center">
											<div class="dropdown">
												<span data-bs-toggle="dropdown" class="dropdown-toggle caret-off btn btn-sm">
													<i class="icon-solid icon-ellipsis-vertical icon-fw text-secondary"></i>
												</span>
												<ul class="dropdown-menu">
													<li><a href="#" class="dropdown-item <%=(app.state === 'success' ? 'disabled' : '')%>" data-action="start">Start</a></li>
													<li><hr class="dropdown-divider"></li>
													<li><a href="#" class="dropdown-item <%=(_.includes(['success', 'warning'], app.state) ? 'text-danger' : 'disabled')%>" data-action="stop">Stop</a></li>
													<li><a href="#" class="dropdown-item <%=(_.includes(['success', 'warning'], app.state) ? 'text-danger' : 'disabled')%>" data-action="kill">Kill</a></li>
													<li><a href="#" class="dropdown-item <%=(_.includes(['success', 'warning'], app.state) ? 'text-danger' : 'disabled')%>" data-action="restart">Restart</a></li>
												</ul>
											</div>
										</td>
									</tr>
								<%})%>
							</tbody>
						</table>
					</div>
				<%}%>
			</div>
		</div>
	</div>
</div>
