<div class="app container-fluid" data-name="<%=app.name%>">
	<div class="card rounded-4 border-0 shadow">
		<div class="card-body">
			<div class="row g-0 align-items-center mt-n2">
				<div class="col-auto me-2">
					<button class="compress btn btn-light btn-sm">
						<i class="icon-light icon-arrow-left icon-fw"></i>
					</button>
				</div>
				<div class="card-image card-spacer col-auto p-2">
					<img src="<%=(_.includes(app.icon, '/') ? app.icon : `/assets/img/apps/${app.icon}`)%>">
				</div>
				<div class="col ps-1" style="min-width: 0;">
					<div class="d-flex align-items-center mb-n1" style="min-width: 0;">
						<div class="text-truncate" style="min-width: 0;"><%=app.title%></div>
						<%if (app.hasUpdates) {%>
							<u-badge color="green" class="ms-2" tip="Updates available" pill>
								<i class="icon-solid icon-download icon-fw"></i>
							</u-badge>
						<%}%>
					</div>
					<%if (!_.isEmpty(app.url)) {%>
						<a href="<%=app.url%>" target="<%=(app?.target || app.name)%>" class="d-inline-flex align-items-center link-underline link-underline-opacity-0 link-underline-opacity-75-hover" style="max-width: 100%;">
							<small class="text-truncate" style="min-width: 0;"><%=_.replace(app.url, /^https?:\/\//, '')%></small><i class="icon-solid icon-arrow-up-right-from-square icon-fw icon-2xs ms-1"></i>
						</a>
					<%} else {%>
						&mdash;
					<%}%>
				</div>
				<div class="col-auto ps-3 ms-auto">
					<%=appActionsTemplate({ app, jobs })%>
				</div>
			</div>

			<div class="position-relative">
				<div class="logs-container d-none">
					<div class="service d-flex align-items-center justify-content-between bg-white p-2 pt-0 ps-0">
						<div class="d-flex align-items-center">
							<i class="icon-light icon-cube icon-fw me-1 text-gray-500"></i>
							<span class="name"></span>
						</div>
						<a href="#" class="close-logs btn btn-link p-0 ms-2">Close logs</a>
					</div>
					<ul></ul>
				</div>
	
				<div class="terminal-container d-none">
					<div class="service d-flex align-items-center justify-content-between bg-white p-2 pt-0 ps-0">
						<div class="d-flex align-items-center">
							<i class="icon-light icon-cube icon-fw me-1 text-gray-500"></i>
							<span class="name"></span>
						</div>
						<a href="#" class="close-terminal btn btn-link p-0 ms-2">Close console</a>
					</div>
					<div class="wrapper"></div>
				</div>

				<div class="row g-2 mt-2">
					<div class="col col-6 col-md-3">
						<div class="card mb-2">
							<div class="card-body py-1">
								<small class="text-body-tertiary pb-1"><i class="icon-solid icon-microchip icon-fw me-1"></i>CPU</small>
								<h5><%=app.resourceMetrics?.cpu?.percent?.toFixed(2)%>%</h5>
							</div>
						</div>
					</div>
					<div class="col col-6 col-md-3">
						<div class="card mb-2">
							<div class="card-body py-1">
								<small class="text-body-tertiary pb-1"><i class="icon-solid icon-memory icon-fw me-1"></i>RAM</small>
								<h5><%=app.resourceMetrics?.memory?.percent?.toFixed(2)%>%</h5>
							</div>
						</div>
					</div>
					<div class="col col-6 col-md-3">
						<div class="card mb-2">
							<div class="card-body py-1">
								<small class="text-body-tertiary pb-1"><i class="icon-solid icon-database icon-fw me-1"></i>Data</small>
								<h5><%=prettyBytes(app.resourceMetrics?.storage?.dataset || 0, { binary: true })%></h5>
							</div>
						</div>
					</div>
					<div class="col col-6 col-md-3">
						<div class="card mb-2">
							<div class="card-body py-1">
								<small class="text-body-tertiary pb-1"><i class="icon-solid icon-camera icon-fw me-1"></i>Snapshots</small>
								<h5><%=prettyBytes(app.resourceMetrics?.storage?.snapshots || 0, { binary: true })%></h5>
							</div>
						</div>
					</div>
				</div>

				<div class="services overflow-y-scroll pe-3 me-n3">
					<table class="table table-hover align-middle m-0">
						<thead class="sticky-top">
							<th>Service</th>
							<th>Ports</th>
							<th class="text-end" style="width: 100px; min-width: 100px;">
								<i class="icon-solid icon-microchip icon-fw" data-bs-toggle="tooltip" data-bs-original-title="CPU"></i>
							</th>
							<th class="text-end" style="width: 100px; min-width: 100px;">
								<i class="icon-solid icon-memory icon-fw" data-bs-toggle="tooltip" data-bs-original-title="RAM"></i>
							</th>
							<th class="text-center" style="width: 85px; min-width: 85px;">State</th>
							<th style="width: 40px; min-width: 40px;"></th>
						</thead>
						<tbody>
							<%_.each(app.projectContainers, (container, index) => {%>
								<%const resourceMetrics = _.find((app.resourceMetrics?.containers || []), { id: container.id })%>
								<tr class="service" data-id="<%=container.id%>">
									<td style="min-width: 226px; max-width: 0;">
										<div class="d-flex align-items-center">
											<i class="icon-light icon-cube icon-fw text-body-tertiary me-2"></i>
											<div class="text-truncate"style="min-width: 0;"><%=container.name%></div>
											<%if (container.hasUpdates) {%>
												<u-badge color="green" class="ms-2" tip="Updates available" pill>
													<i class="icon-solid icon-download icon-fw"></i>
												</u-badge>
											<%}%>
										</div>
										<div class="ps-2 ms-3">
											<a href="#" class="logs btn btn-outline-secondary btn-sm px-1 py-0" data-id="<%=container.id%>">
												<i class="icon-light icon-memo icon-fw me-1"></i>
												Logs
											</a>
											<%if (container.state === 'running') {%>
												<a href="#" class="console btn btn-outline-secondary btn-sm px-1 py-0" data-id="<%=container.id%>">
													<i class="icon-light icon-rectangle-terminal icon-fw me-1"></i>
													Console
												</a>
											<%}%>
										</div>
									</td>
									<td>
										<%if (container.state === 'running') {%>
											<%const publishedPorts = _.filter(container.ports, { ip: '0.0.0.0' });%>
											<%=(_.isEmpty(publishedPorts) ? '<span class="text-body-secondary">&mdash;</span>' : '')%>
											<%_.each(_.orderBy(publishedPorts, ['privatePort'], ['asc']), (port, index) => {%>
												<u-badge color="gray" tint="200" tip="public &middot; private" pill><%=`${port.publicPort} &rlarr; ${port.privatePort}`%></u-badge>
											<%})%>
										<%}%>
									</td>
									<td class="text-end text-nowrap">
										<%if (!resourceMetrics) {%>
											<i class="icon-solid icon-spinner-third icon-fw icon-spin"></i>
										<%} else {%>
											<small class="fw-light"><%=resourceMetrics?.cpu?.percent.toFixed(2)%>%</small>
											<u-progress shadow="false">
												<u-progress-bar width="<%=resourceMetrics?.cpu?.percent%>"></u-progress-bar>
											</u-progress>
										<%}%>
									</td>
									<td class="text-end text-nowrap">
										<%if (!resourceMetrics) {%>
											<i class="icon-solid icon-spinner-third icon-fw icon-spin"></i>
										<%} else {%>
											<small class="fw-light" data-bs-toggle="tooltip" data-bs-original-title="<%=prettyBytes(resourceMetrics?.memory?.usage || 0, { binary: true })%>"><%=resourceMetrics?.memory?.percent.toFixed(2)%>%</small>
											<u-progress shadow="false">
												<u-progress-bar width="<%=resourceMetrics?.memory?.percent%>"></u-progress-bar>
											</u-progress>
										<%}%>
									</td>
									<td class="text-center text-nowrap">
										<u-badge color="<%=(container.state === 'running' ? 'green' : 'red')%>" pill><%=container.state%></u-badge>
									</td>
									<td class="text-center px-0">
										<%if (!_.isEmpty(jobs)) {%>
											<i class="icon-solid icon-gear icon-fw icon-spin"></i>
										<%} else {%>
											<div class="dropdown">
												<span data-bs-toggle="dropdown" class="dropdown-toggle caret-off btn btn-sm">
													<i class="icon-solid icon-ellipsis-vertical icon-fw text-secondary"></i>
												</span>
												<ul class="dropdown-menu">
													<%if (app.canBeRemoved || _.includes(['created', 'exited'], container.state)) {%>
														<li><a href="#" class="dropdown-item <%=(_.includes(['created', 'exited'], container.state) ? '' : 'disabled')%>" data-action="start"><i class="icon-regular icon-play icon-fw me-1"></i>Start</a></li>
														<li><hr class="dropdown-divider"></li>
													<%}%>
													<li><a href="#" class="dropdown-item <%=(_.includes(['running', 'paused'], container.state) ? 'confirm' : 'disabled')%>" data-action="restart"><i class="icon-regular icon-arrow-rotate-left icon-fw me-1"></i>Restart</a></li>
													<%if (app.canBeRemoved) {%>
														<li><a href="#" class="dropdown-item <%=(_.includes(['running', 'paused', 'restarting'], container.state) ? 'text-danger confirm' : 'disabled')%>" data-action="stop"><i class="icon-regular icon-stop icon-fw me-1"></i>Stop</a></li>
														<li><a href="#" class="dropdown-item <%=(_.includes(['running', 'paused', 'restarting'], container.state) ? 'text-danger confirm' : 'disabled')%>" data-action="kill"><i class="icon-regular icon-skull icon-fw me-1"></i>Kill</a></li>
													<%}%>
												</ul>
											</div>
										<%}%>
									</td>
								</tr>
							<%})%>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
