<div id="apps" class="d-none">
	<div class="row">
		<div class="col-12 position-relative mb-3">
			<h5 class="m-0">
				<i class="icon-duotone icon-solid icon-grid-round-2-plus icon-fw me-1" style="transform: rotate(180deg);"></i>
				Apps
			</h5>
			<div class="position-absolute top-0 end-0 pe-3 mt-n1">
				<a href="#app-center" class="btn btn-sm btn-outline-secondary py-1" data-bs-toggle="modal">App center</a>
			</div>
		</div>
		<div class="loading d-flex justify-content-center align-items-center h-100"><div class="spinner-border text-gray-600"></div></div>
		<div class="oops d-flex justify-content-center align-items-center h-100 d-none"><span class="text-red-300">Error fetching data</span></div>
		<div class="container-fluid position-relative d-none">
			<div class="card rounded-4 border-0">
				<div class="card-body">
					<div class="row g-2">
						<div class="col col-6 col-md-4">
							<u-input type="search" label="Search" class="search"></u-input>
						</div>
					</div>
					<div class="overflow-y-scroll mt-n3 pe-3 mx-0 me-n3">
						<table class="table table-hover align-middle m-0">
							<thead class="sticky-top">
								<tr>
									<th class="orderable asc text-nowrap d-table-cell d-md-none" data-field="title">
										App
										<i class="icon icon-duotone icon-solid icon-sort icon-fw ms-1"></i>
									</th>
									<th class="orderable asc text-nowrap d-none d-md-table-cell" data-field="title" colspan="2">
										App
										<i class="icon icon-duotone icon-solid icon-sort icon-fw ms-1"></i>
									</th>
									<th class="orderable text-end text-nowrap d-none d-md-table-cell" data-field="resourceMetrics.cpu.percent" style="width: 100px; min-width: 100px;">
										<i class="icon-solid icon-microchip icon-fw" data-bs-toggle="tooltip" data-bs-original-title="CPU"></i>
										<i class="icon icon-duotone icon-solid icon-sort icon-fw ms-1"></i>
									</th>
									<th class="orderable text-end text-nowrap d-none d-md-table-cell" data-field="resourceMetrics.memory.percent" style="width: 100px; min-width: 100px;">
										<i class="icon-solid icon-memory icon-fw" data-bs-toggle="tooltip" data-bs-original-title="RAM"></i>
										<i class="icon icon-duotone icon-solid icon-sort icon-fw ms-1"></i>
									</th>
									<th class="orderable text-end text-nowrap d-none d-md-table-cell" data-field="resourceMetrics.storage.dataset" style="width: 100px; min-width: 100px;">
										<i class="icon-solid icon-database icon-fw" data-bs-toggle="tooltip" data-bs-original-title="Data"></i>
										<i class="icon icon-duotone icon-solid icon-sort icon-fw ms-1"></i>
									</th>
									<th class="orderable text-end text-nowrap d-none d-md-table-cell" data-field="resourceMetrics.storage.snapshots" style="width: 100px; min-width: 100px;">
										<i class="icon-solid icon-camera icon-fw" data-bs-toggle="tooltip" data-bs-original-title="Snapshots"></i>
										<i class="icon icon-duotone icon-solid icon-sort icon-fw ms-1"></i>
									</th>
									<th class="text-center" style="width: 70px; min-width: 70px;">State</th>
									<th style="width: 40px; min-width: 40px;"></th>
									<th style="width: 36px; min-width: 36px;"></th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="details"></div>
		</div>
	</div>
</div>
