<u-form>
	<div id="app-install" class="modal fade">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">App install</h5>
				</div>
				<div class="modal-body">
					<div class="mb-4">
						<p class="description mb-2"></p>
						<p class="note alert alert-info p-2 mb-0 d-none"></p>
					</div>
					<div class="inputs"></div>
				</div>
				<div class="modal-footer">
					<u-button variant="secondary" class="d-flex ms-auto" data-bs-dismiss="modal" outline>Cancel</u-button>
					<u-button type="submit" variant="primary">Install</u-button>
				</div>
			</div>
		</div>
	</div>
</u-form>
