<div id="app-center" class="modal fade" tabindex="-1">
	<div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">App center</h5>
				<ul class="nav nav-pills ms-4 mt-n1 mb-n1">
					<li class="nav-item">
						<a href="#app-center-explore" class="nav-link active d-flex align-items-center" data-bs-toggle="tab">Explore
							<span class="count-explore badge rounded-pill bd-red-100 ms-2">0</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="#app-center-installed" class="nav-link d-flex align-items-center" data-bs-toggle="tab">Installed
							<span class="count-installed badge rounded-pill bd-red-100 ms-2">0</span>
						</a>
					</li>
				</ul>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">
				<div class="loading d-flex justify-content-center align-items-center h-100"><div class="spinner-border text-gray-600"></div></div>
				<div class="oops d-flex justify-content-center align-items-center h-100 d-none"><span class="text-red-300">Error fetching data</span></div>
				<div class="tab-content d-none">
					<div id="app-center-explore" class="tab-pane fade show active" tabindex="0">
						<div class="row"></div>
					</div>
					<div id="app-center-installed" class="tab-pane fade" tabindex="1">
						<div class="row"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
