<div class="col col-12">
	<div class="card rounded-4 border-0 mb-0">
		<div class="card-body">
			<h5 class="card-title d-flex align-items-center">Software</h5>
			<dl class="m-0">
				<dt class="fw-lighter"><small>UI version</small></dt>
				<dd><%=VERSION%></dd>
				<dt class="fw-lighter"><small>API version</small></dt>
				<dd><%=system?.api?.version%></dd>
				<dt class="fw-lighter"><small>ZFS version</small></dt>
				<dd><%=system?.zfs?.version%></bd>
				<dt class="fw-lighter"><small>Kernel version</small></dt>
				<dd class="m-0"><%=system?.osInfo?.kernel%></dd>
			</dl>
		</div>
	</div>
</div>

<div class="col col-12">
	<div class="card rounded-4 border-0 mb-0">
		<div class="card-body">
			<h5 class="card-title d-flex align-items-center">Hardware</h5>
			<dl class="m-0">
				<dt class="fw-lighter"><small>Serial number</small></dt>
				<dd><%=system?.serial%></dd>
				<dt class="fw-lighter"><small>CPU</small></dt>
				<dd><%=system?.cpu?.cores%>x <%=system?.cpu?.vendor%> <%=system?.cpu?.family%> @ <%=system?.cpu?.speedMax%> GHz</dd>
				<dt class="fw-lighter"><small>RAM</small></dt>
				<dd><%=prettyBytes(memory.total || 0, { binary: true })%></dd>
				<dt class="fw-lighter"><small>Network</small></dt>
				<dd><%=prettyBytes((networkInterface?.speed || 0) * 1000 * 1000, { bits: true })%>/s <small class="text-body-tertiary">(MAC: <%=networkInterface?.address%>)</small></dd>
				<dt class="fw-lighter"><small>Drives</small></dt>
				<dd class="m-0">
					<%_.each(drives, (drive) => {%>
						<div><%=drive.model%> @ <%=prettyBytes(drive.capacity.bytes || 0, { binary: true })%></div>
						<small class="d-block text-body-tertiary mt-n1">SN: <%=drive.serialNumber%></small>
					<%})%>
				</dd>
			</dl>
		</div>
	</div>
</div>
