<div id="configuration" class="modal fade" tabindex="-1">
	<div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Settings</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" style="height: 9999px;">
				<div class="loading d-flex justify-content-center align-items-center h-100"><div class="spinner-border text-gray-600"></div></div>
				<div class="oops d-flex justify-content-center align-items-center h-100 d-none"><span class="text-red-300">Error fetching data</span></div>
				<div class="container-fluid d-none">
					<div class="row">
						<div class="col-4">
							<form id="location">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">Location</h5>
										<div class="form-floating mb-3">
											<input type="text" class="latitude form-control" placeholder="">
											<label>Latitude</label>
										</div>
										<div class="form-floating mb-3">
											<input type="text" class="longitude form-control" placeholder="">
											<label>Longitude</label>
										</div>
										<button type="submit" class="btn btn-primary d-flex ms-auto">Save</button>
									</div>
								</div>
							</form>
						</div>
						<div class="col-4">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">Power</h5>
									<a href="#" class="reboot card-link">Reboot</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
