<div id="user-password" class="modal fade">
	<u-form>
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Change password</h5>
				</div>
				<div class="modal-body">
					<div class="alert alert-light">
						<dl class="m-0">
							<dt class="fw-light text-body-tertiary"><small>Username</small></dt>
							<dd class="title-username m-0"></dd>
						</dl>
					</div>
					<u-input type="password" name="password" label="New password" class="password" autocomplete="off"></u-input>
					<u-input type="password" name="passwordCheck" label="Confirm password" class="password-check" autocomplete="off"></u-input>
				</div>
				<div class="modal-footer">
					<u-button variant="secondary" class="d-flex ms-auto" data-bs-dismiss="modal" outline>Cancel</u-button>
					<u-button type="submit" variant="primary">Update</u-button>
				</div>
			</div>
		</div>
	</u-form>
</div>
