<tr class="bookmark" data-name="<%=bookmark.name%>">
	<td class="d-none d-md-table-cell p-0">
		<div class="card-image p-2">
			<img src="<%=(_.includes(bookmark.icon, '/') ? bookmark.icon : `/assets/img/apps/${bookmark.icon}`)%>">
		</div>
	</td>
	<td style="min-width: 226px; max-width: 0;">
		<div class="d-flex align-items-center mb-n1">
			<div class="text-truncate"><%=bookmark.title%></div>
		</div>
		<%if (!_.isEmpty(bookmark.url)) {%>
			<a href="<%=bookmark.url%>" target="<%=(bookmark?.target || bookmark.name)%>" class="d-inline-flex align-items-center link-underline link-underline-opacity-0 link-underline-opacity-75-hover" style="max-width: 100%;">
				<small class="text-truncate" style="min-width: 0;"><%=bookmark.url%></small><i class="icon-solid icon-arrow-up-right-from-square icon-fw icon-2xs ms-1 d-none d-sm-block"></i>
			</a>
		<%} else {%>
			&mdash;
		<%}%>
	</td>
	<td class="d-none d-md-table-cell">
		<u-badge color="purple" pill><%=bookmark.category%></u-badge>
	</td>
	<td class="text-center px-0">
		<%if (!_.isEmpty(jobs)) {%>
			<i class="icon-solid icon-gear icon-fw icon-spin"></i>
		<%}%>
		<%if (_.isEmpty(jobs)) {%>
			<div class="dropdown">
				<span data-bs-toggle="dropdown" class="dropdown-toggle caret-off btn btn-sm">
					<i class="icon-solid icon-ellipsis-vertical icon-fw text-secondary"></i>
				</span>
				<ul class="dropdown-menu">
					<li><a href="#bookmark-update" class="dropdown-item" data-bs-toggle="modal"><i class="icon-regular icon-pen icon-fw me-1"></i>Edit</a></li>
					<li><hr class="dropdown-divider"></li>
					<li><a href="#" class="dropdown-item text-danger" data-action="delete"><i class="icon-regular icon-times icon-fw me-1"></i>Delete</a></li>
				</ul>
			</div>
		<%}%>
	</td>
</tr>
