<div class="row">
	<div class="col-4"></div>
	<div class="col-8">
		<div class="row">
			<div class="col-3 text-center">CPU
				<div class="row">
					<div class="col-6 text-body-secondary"><small>Usage</small></div>
					<div class="col-6 text-body-secondary"><small>Load</small></div>
				</div>
			</div>
			<div class="col-3 text-center">RAM
				<div class="row">
					<div class="col-6"><small>Usage</small></div>
					<div class="col-6"><small>Swap</small></div>
				</div>
			</div>
			<div class="col-3 text-end">Disk I/O
				<div><small>Usage</small></div>
			</div>
			<div class="col-3 text-end">Network
				<div><small>Usage</small></div>
			</div>
		</div>
	</div>
</div>
<div class="day">
	<h6>December 14, 2025</h6>
	<div class="hour row">
		<div class="col-1 font-monospace">10:00 PM</div>
		<div class="col-3">no events</div>
		<div class="col-8">
			<%for (let i = 0; i < 60; i++) {%>
				<div class="minute row">
					<div class="metrics-data metrics-data-cpu col-3">
						<div class="polygon-use compressed" style="--utilization: 0.00085;"></div>
						<div class="polygon-sat compressed" style="--saturation: 0.03999999910593033;"></div>
					</div>
					<div class="metrics-data metrics-data-memory col-3">
						<div class="polygon-use compressed" style="--utilization: 0.11188158860629904;"></div>
						<div class="polygon-sat compressed" style="--saturation: 0;"></div>
					</div>
					<div class="metrics-data-disks col-3">
						<div class="polygon-use compressed" style="--utilization: 0.0011;"></div>
					</div>
					<div class="metrics-data metrics-data-network col-3">
						<div class="polygon-use compressed" style="--utilization: 0.0038113333333333337;"></div>
					</div>
				</div>
			<%}%>
		</div>
	</div>
</div>

<div class="d-flex flex-column justify-content-center align-items-center h-100 d-none">
	<p class="text-center">Metrics collection is currently enabled.<br>If disabled, you won't be able to monitor system health or track performance metrics.</p>
	<u-button variant="danger" class="disable" loading-text="Disabling...">Disable metrics</u-button>
</div>
