<div class="col col-12">
	<div class="card rounded-4 border-0 mb-0">
		<div class="card-body">
			<a href="#network-identifier" class="btn btn-link p-0 float-end" data-bs-toggle="modal"><i class="icon-regular icon-pen icon-fw me-1"></i>Edit</a>
			<h5 class="card-title d-flex align-items-center">Host</h5>
			<dl class="m-0">
				<dt class="fw-lighter"><small>Hostname</small></dt>
				<dd><%=system?.osInfo?.hostname%></dd>
				<dt class="fw-lighter"><small>Domain name</small></dt>
				<dd class="m-0"><%=_.replace(system?.osInfo?.fqdn, `${system?.osInfo?.hostname}.`, '') || '&mdash;'%></dd>
			</dl>
		</div>
	</div>
</div>

<div class="col col-12">
	<div class="card rounded-4 border-0 mb-0">
		<div class="card-body">
			<a href="#network-interface" class="btn btn-link p-0 float-end" data-bs-toggle="modal"><i class="icon-regular icon-pen icon-fw me-1"></i>Edit</a>
			<h5 class="card-title d-flex align-items-center">Interface</h5>
			<dl class="m-0">
				<dt class="fw-lighter"><small>Name</small></dt>
				<dd><%=networkInterface?.ifname%></dd>
				<dt class="fw-lighter"><small>Address</small></dt>
				<dd class="d-flex align-items-center">
					<%=_.find(networkInterface?.addrInfo, { family: 'inet' })?.local%>/<%=_.find(networkInterface?.addrInfo, { family: 'inet' })?.prefixlen%>
					<u-badge color="gray" tint="200" class="ms-1" pill><%=(networkInterface?.dhcp ? 'Automatic' : 'Manual')%></u-badge>
				</dd>
				<dt class="fw-lighter"><small>Default gateway</small></dt>
				<dd><%=system?.defaultGateway%></dd>
				<dt class="fw-lighter"><small>MTU</small></dt>
				<dd><%=networkInterface?.mtu%></dd>
				<dt class="fw-lighter"><small>MAC</small></dt>
				<dd class="m-0"><%=networkInterface?.address%></dd>
			</dl>
		</div>
	</div>
</div>
