<div class="row">
	<div class="col-12 col-md-6 col-lg-4">
		<div class="card position-relative rounded-4 border-0">
			<div class="card-body">
				<h5 class="card-title d-flex align-items-center">
					Host
					<a href="#network-host" class="btn btn-link p-0 ms-auto" data-bs-toggle="modal">Edit</a>
				</h5>
				<dl class="m-0">
					<dt class="fw-lighter"><small>Hostname</small></dt>
					<dd><%=tldts.getSubdomain(system.osInfo.fqdn, { extractHostname: false })%></dd>
					<dt class="fw-lighter"><small>Domain name</small></dt>
					<dd class="m-0"><%=tldts.getDomain(system.osInfo.fqdn, { extractHostname: false }) || '&mdash;'%></dd>
				</dl>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-lg-4">
		<div class="card position-relative rounded-4 border-0">
			<div class="card-body">
				<h5 class="card-title d-flex align-items-center">
					Gateway
					<a href="#network-gateway" class="btn btn-link p-0 ms-auto" data-bs-toggle="modal">Edit</a>
				</h5>
				<dl class="m-0">
					<dt class="fw-lighter"><small>Gateway</small></dt>
					<dd class="m-0"><%=system.defaultGateway%></dd>
				</dl>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-lg-4">
		<div class="card position-relative rounded-4 border-0">
			<div class="card-body">
				<h5 class="card-title d-flex align-items-center">
					Interface
					<a href="#network-interface" class="btn btn-link p-0 ms-auto" data-bs-toggle="modal">Edit</a>
				</h5>
				<dl class="m-0">
					<dt class="fw-lighter"><small>Name</small></dt>
					<dd><%=system.networkInterface.ifaceName%></dd>
					<dt class="fw-lighter"><small>Address</small></dt>
					<dd class="d-flex align-items-center">
						<%=system.networkInterface.ip4%>/<%=block.bitmask%>
						<span class="badge rounded-pill bd-gray-200 ms-1"><%=(system.networkInterface.dhcp ? 'Automatic' : 'Manual')%></span>
					</dd>
					<dt class="fw-lighter"><small>MTU</small></dt>
					<dd><%=system.networkInterface.mtu%></dd>
					<dt class="fw-lighter"><small>MAC</small></dt>
					<dd class="m-0"><%=system.networkInterface.mac%></dd>
				</dl>
			</div>
		</div>
	</div>
</div>
