<div class="row">
	<div class="col col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
		<div class="card rounded-4 border-0">
			<div class="card-body">
				<a href="#network-identifier" class="btn btn-link p-0 float-end" data-bs-toggle="modal">Edit</a>
				<h5 class="card-title d-flex align-items-center">Host</h5>
				<dl class="m-0">
					<dt class="fw-lighter"><small>Hostname</small></dt>
					<dd><%=system?.osInfo?.hostname%></dd>
					<dt class="fw-lighter"><small>Domain name</small></dt>
					<dd class="m-0"><%=_.replace(system?.osInfo?.fqdn, `${system?.osInfo?.hostname}.`, '') || '&mdash;'%></dd>
				</dl>
			</div>
		</div>
	</div>
	<div class="col col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
		<div class="card rounded-4 border-0">
			<div class="card-body">
				<a href="#network-interface" class="btn btn-link p-0 float-end" data-bs-toggle="modal">Edit</a>
				<h5 class="card-title d-flex align-items-center">Interface</h5>
				<dl class="m-0">
					<dt class="fw-lighter"><small>Name</small></dt>
					<dd><%=system?.networkInterface?.ifaceName%></dd>
					<dt class="fw-lighter"><small>Address</small></dt>
					<dd class="d-flex align-items-center">
						<%=system?.networkInterface?.ip4%>/<%=block?.bitmask ?? 'error'%>
						<span class="badge rounded-pill bd-gray-200 ms-1"><%=(system?.networkInterface?.dhcp ? 'Automatic' : 'Manual')%></span>
					</dd>
					<dt class="fw-lighter"><small>Default gateway</small></dt>
					<dd><%=system?.defaultGateway%></dd>
					<dt class="fw-lighter"><small>MTU</small></dt>
					<dd><%=system?.networkInterface?.mtu%></dd>
					<dt class="fw-lighter"><small>MAC</small></dt>
					<dd class="m-0"><%=system?.networkInterface?.mac%></dd>
				</dl>
			</div>
		</div>
	</div>
</div>
