<div class="app card rounded-4 border-0" data-id="<%=entity.id%>" data-title="<%=entity.title%>">
	<div class="card-body ps-0 py-1">
		<div class="row g-0 align-items-center">
			<div class="col-auto p-2 card-image">
				<img src="<%=(_.includes(entity.icon, '/') ? entity.icon : `/assets/img/apps/${entity.icon}`)%>">
			</div>
			<div class="col flex-grow-1 text-truncate">
				<%=entity.title%>
			</div>
		</div>
	</div>
	<%if (entity.state === 'running' && !_.isEmpty(entity.url)) {%>
		<a href="<%=entity.url%>" target="<%=(entity.target ?? entity.name)%>" class="stretched-link"></a>
	<%}%>
	<span class="indicator translate-middle p-2 border border-light rounded-circle <%=(entity.state === 'running' ? 'bg-green-300' : 'bg-red-300')%>"></span>
</div>
