<div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-6">
	<div class="card rounded-4 border-0" data-id="<%=bookmark.id%>" data-type="bookmark">
		<div class="card-body ps-0 py-1">
			<div class="row g-0 align-items-center">
				<div class="card-image card-spacer col-auto p-2">
					<img src="<%=(_.includes(bookmark.icon, '/') ? bookmark.icon : `/assets/img/apps/${bookmark.icon}`)%>">
				</div>
				<div class="col flex-grow-1 text-truncate">
					<%=bookmark.title%>
				</div>
			</div>
		</div>
		<%if (!_.isEmpty(bookmark.url)) {%>
			<a href="<%=bookmark.url%>" target="<%=(bookmark?.target || bookmark.name)%>" class="stretched-link"></a>
		<%}%>
	</div>
</div>
