<div class="bookmark card rounded-4 border-0" data-id="<%=entity.id%>" data-title="<%=entity.title%>">
	<div class="card-body ps-0 py-1">
		<div class="row g-0 align-items-center">
			<div class="col-2 p-2 card-image">
				<img src="<%=entity.icon%>">
			</div>
			<div class="col flex-grow-1 text-truncate">
				<%=entity.title%>
			</div>
		</div>
	</div>
	<%if (!_.isEmpty(entity.url)) {%>
		<a href="<%=entity.url%>" target="<%=(entity.target ?? entity.name)%>" class="stretched-link"></a>
	<%}%>
</div>
