<div class="card rounded-4 border-0">
	<div class="card-body ps-0 py-1">
		<div class="row g-0 align-items-center">
			<div class="card-image card-spacer col-auto p-2">
				<i class="icon-light icon-folder-open" data-bs-toggle="tooltip" data-bs-original-title="<%=(entity.isPrivate ? 'Password protected' : 'Public')%>"></i>
			</div>
			<div class="col flex-grow-1 text-truncate">
				<%=entity.comment%>
			</div>
		</div>
	</div>
	<div class="progress rounded-pill rounded-top-0 shadow-none position-absolute bottom-0 mx-2" role="progressbar" style="width: calc(100% - 1rem); height: 4px;">
		<div class="progress-bar bg-blue-300" style="width: <%=entity.cap%>%;"></div>
	</div>
</div>
