<li class="list-group-item memory py-3">
	<h6 class="text-body-emphasis mb-0">
		<i class="icon-regular icon-memory icon-fw me-1 text-gray-500"></i>
		RAM
	</h6>
	<%if (state.memory === null) {%>
		<div class="spinner-border spinner-border-sm text-gray-600"></div>
	<%} else if (state.memory === false) {%>
		<span class="text-red-300">Error fetching data</span>
	<%} else {%>
		<%const progressColorActive = (state.memory.capacity.percent >= 80 ? (state.memory.capacity.percent >= 90 ? 'bg-red-300' : 'bg-orange-300') : 'bg-blue-300')%>
		<%const progressColorCache = (state.memory.capacity.percent >= 80 ? (state.memory.capacity.percent >= 90 ? 'bg-red-200' : 'bg-orange-200') : 'bg-indigo-100')%>
		<div class="row g-0 d-flex align-items-baseline">
			<div class="col">
				<div class="progress" role="progressbar">
					<div class="progress-bar <%=progressColorActive%>" data-bs-toggle="tooltip" data-bs-original-title="Active" style="width: <%=state.memory.unreclaimable.percent%>%;"></div>
					<div class="progress-bar progress-bar-striped <%=progressColorCache%>" data-bs-toggle="tooltip" data-bs-original-title="Reclaimable" style="width: <%=state.memory.reclaimable.percent%>%;"></div>
				</div>
			</div>
			<div class="col-auto lh-1 text-body-tertiary text-end" style="width: 45px;">
				<small class="fw-light"><%=state.memory.capacity.percent?.toFixed(0)%>%</small>
			</div>
		</div>
		<div class="lh-1 text-body-tertiary mt-1">
			<small><strong class="fw-semibold"><%=prettyBytes(state.memory.total - state.memory.free || 0, { binary: true })%></strong> used from <%=prettyBytes(state.memory.total || 0, { binary: true })%></small>
		</div>
	<%}%>
</li>
