<li class="list-group-item memory py-3">
	<h6 class="text-body-emphasis mb-0">
		<i class="icon-regular icon-memory icon-fw me-1 text-gray-500"></i>
		RAM
	</h6>
	<%if (state.memory === null) {%>
		<div class="spinner-border spinner-border-sm text-gray-600"></div>
	<%} else if (state.memory === false) {%>
		<span class="text-red-300">Error fetching data</span>
	<%} else {%>
		<%const usedPercent = ((state.memory.total - state.memory.available) / state.memory.total) * 100%>
		<div class="row g-0 d-flex align-items-baseline">
			<div class="col">
				<u-progress>
					<u-progress-bar width="<%=usedPercent%>"></u-progress-bar>
				</u-progress>
			</div>
			<div class="col-auto lh-1 text-body-tertiary text-end" style="width: 45px;">
				<small class="fw-light"><%=usedPercent?.toFixed(0)%>%</small>
			</div>
		</div>
		<div class="lh-1 text-body-tertiary mt-1">
			<small><strong class="fw-semibold"><%=prettyBytes(state.memory.total - state.memory.available || 0, { binary: true })%></strong> used from <%=prettyBytes(state.memory.total || 0, { binary: true })%></small>
		</div>
	<%}%>
</li>
