<li class="list-group-item network py-3">
	<h6 class="text-body-emphasis mb-0">
		<i class="icon-regular icon-network-wired icon-fw me-1 text-gray-500"></i>
		Network <small class="text-body-secondary"> &middot; <%=state.networkStats.iface%></small>
	</h6>
	<%if (state.networkStats === null) {%>
		<div class="spinner-border spinner-border-sm text-gray-600"></div>
	<%} else if (state.networkStats === false) {%>
		<span class="text-red-300">Error fetching data</span>
	<%} else {%>
		<div class="network-chart" style="width: 100%; height: 100px;"></div>
		<div class="lh-1 text-body-tertiary text-end mt-1">
			<table>
				<tbody>
					<tr>
						<td>
							<i class="icon-solid icon-arrow-down icon-fw me-1 text-gray-600"></i>
							<small>RX:</small>
						</td>
						<td><small><%=prettyBytes(state.networkStats.rx_sec, { space: false })%>/s</small></td>
					</tr>
					<tr>
						<td>
							<i class="icon-solid icon-arrow-up icon-fw me-1 text-gray-400"></i>
							<small>TX:</small>
						</td>
						<td><small><%=prettyBytes(state.networkStats.tx_sec, { space: false })%>/s</small></td>
					</tr>
				</tbody>
			</table>
		</div>
	<%}%>
</li>
