<%if (state.ups === 'remote i/o error' || state.ups?.batteryCharge === false) {%>
	<%return%>
<%}%>
<li class="list-group-item ups py-3">
	<h6 class="d-flex align-items-center text-body-emphasis mb-0">
		<i class="icon-regular icon-car-battery icon-fw me-1 text-gray-500"></i>
		UPS
		<%if (state.ups !== null && state.ups !== false) {%>
			<%if (state.ups?.powerSource === 'grid') {%>
				<div class="badge rounded-pill bd-green-100 ms-1">GRID</div>
			<%}%>
			<%if (state.ups?.powerSource === 'battery') {%>
				<div class="badge rounded-pill bd-orange-100 ms-1">BATTERY</div>
			<%}%>
		<%}%>
	</h6>
	<%if (state.ups === null) {%>
		<div class="spinner-border spinner-border-sm text-gray-600"></div>
	<%} else if (state.ups === false) {%>
		<span class="text-red-300">Error fetching data</span>
	<%} else {%>
		<div class="row g-0 d-flex align-items-baseline">
			<div class="col">
				<div class="progress" role="progressbar">
					<div class="progress-bar <%=(state.ups?.powerSource === 'grid' ? 'bg-green-300' : (state.ups?.powerSource === 'battery' ? 'progress-bar-striped progress-bar-animated bg-orange-300' : ''))%>" style="width: <%=state.ups?.batteryCharge%>%;"></div>
				</div>
			</div>
			<div class="col-auto lh-1 text-body-tertiary text-end" style="width: 45px;">
				<small class="fw-light"><%=state.ups?.batteryCharge%>%</small>
			</div>
		</div>
	<%}%>
</li>
