<li class="list-group-item memory py-3">
	<h6 class="text-body-emphasis mb-0">
		<i class="icon-regular icon-memory icon-fw me-1 text-gray-500"></i>
		RAM
	</h6>
	<%if (state.memory === null) {%>
		<div class="spinner-border spinner-border-sm text-gray-600"></div>
	<%} else if (state.memory === false) {%>
		<span class="text-red-300">Error fetching data</span>
	<%} else {%>
		<div class="row g-0 d-flex align-items-baseline">
			<div class="col">
				<div class="progress" role="progressbar">
					<div class="progress-bar bg-blue-300" style="width: <%=(state.memory.active * 100 / state.memory.total)%>%;"></div>
				</div>
			</div>
			<div class="col-auto lh-1 text-body-tertiary text-end" style="width: 45px;">
				<small class="fw-light"><%=(state.memory.active * 100 / state.memory.total)?.toFixed(0)%>%</small>
			</div>
		</div>
		<div class="lh-1 text-body-tertiary mt-1">
			<small><strong class="fw-semibold"><%=prettyBytes(state.memory.active, { space: false })%></strong> used from <%=prettyBytes(state.memory.total, { space: false })%></small><br>
			<small class="d-none">Free: <%=prettyBytes(state.memory.available, { space: false })%></small>
		</div>
	<%}%>
</li>
