<%
let pool = (state.storage === false ? false : _.find(state.storage, (pool) => { return pool.name === 'system'; }));
%>
<li class="list-group-item storage-system py-3">
	<h6 class="text-body-emphasis mb-0">
		<i class="icon-regular icon-sd-card icon-fw me-1 text-gray-500"></i>
		VirgoOS
	</h6>
	<%if (state.storage === null) {%>
		<div class="spinner-border spinner-border-sm text-gray-600"></div>
	<%} else if (pool === false) {%>
		<span class="text-red-300">Error fetching data</span>
	<%} else {%>
		<div class="row g-0 d-flex align-items-baseline">
			<div class="col">
				<div class="progress" role="progressbar">
					<div class="progress-bar bg-blue-300" style="width: <%=(pool.properties.capacity.value)%>%;"></div>
				</div>
			</div>
			<div class="col-auto lh-1 text-body-tertiary text-end" style="width: 45px;">
				<small class="fw-light"><%=pool.properties.capacity.value?.toFixed(0)%>%</small>
			</div>
		</div>
		<div class="lh-1 text-body-tertiary mt-1">
			<small><strong class="fw-semibold"><%=bytes(pool.properties.allocated.value)%></strong> used from <%=bytes(pool.properties.size.value)%></small><br>
			<small class="d-none">Free: <%=bytes(pool.properties.free.value)%></small>
		</div>
	<%}%>
</li>
