<div id="resources-monitor" class="col col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 order-last order-sm-first">
	<div class="d-flex align-items-center pb-2">
		<div class="badge bd-gray-300 rounded-pill fw-light">Status</div>
	</div>
	<div class="card rounded-4 border-0">
		<div class="card-body p-0">
			<ul class="list-group list-group-flush rounded-4">
				<%=cpu%>
				<%=memory%>
				<%=network%>
				<%=storageSystem%>
				<%=storageData%>
				<%=ups%>
				<%=time%>
			</ul>
		</div>
	</div>
</div>
