<%const pool = (state.storage === false ? false : _.find(state.storage, (pool) => { return pool.name === 'messier'; }))%>
<li class="list-group-item storage-data py-3">
	<h6 class="d-flex align-items-center text-body-emphasis mb-0">
		<i class="icon-regular icon-database icon-fw me-1 text-gray-500"></i>
		Data
		<%if (state.storage !== null && pool !== false) {%>
			<small class="ms-1">
				<span class="badge rounded-pill bd-<%=(pool.properties.health.value.toLowerCase() === 'online' ? 'green' : 'red')%>-100"><%=pool.properties.health.value%></span>
			</small>
		<%}%>
	</h6>
	<%if (state.storage === null) {%>
		<div class="spinner-border spinner-border-sm text-gray-600"></div>
	<%} else if (pool === false) {%>
		<span class="text-red-300">Error fetching data</span>
	<%} else {%>
		<div class="row g-0 d-flex align-items-baseline">
			<div class="col">
				<div class="progress" role="progressbar">
					<div class="progress-bar bg-blue-300" data-bs-toggle="tooltip" data-bs-original-title="Data" style="width: <%=(pool.properties.usedbydatasets.value / pool.properties.size.value * 100)%>%;"></div>
					<div class="progress-bar bg-indigo-300" data-bs-toggle="tooltip" data-bs-original-title="Snapshots" style="width: <%=(pool.properties.usedbysnapshots.value / pool.properties.size.value * 100)%>%;"></div>
				</div>
			</div>
			<div class="col-auto lh-1 text-body-tertiary text-end" style="width: 45px;">
				<small class="fw-light"><%=pool.properties.capacity.value?.toFixed(0)%>%</small>
			</div>
		</div>
		<div class="lh-1 text-body-tertiary mt-1">
			<small><strong class="fw-semibold"><%=prettyBytes(pool.properties.allocated.value, { binary: true })%></strong> used from <%=prettyBytes(pool.properties.size.value, { binary: true })%></small><br>
			<small class="d-none">Free: <%=prettyBytes(pool.properties.free.value, { binary: true })%></small>
		</div>
		<div class="mt-1">
			<%_.each(state.drives, (drive) => {%>
				<%let color = 'gray'%>
				<%if (drive.temperature >= drive.temperatureWarningThreshold && drive.temperature < drive.temperatureCriticalThreshold) {%>
					<%color = 'yellow'%>
				<%}%>
				<%if (drive.temperature >= drive.temperatureCriticalThreshold) {%>
					<%color = 'red'%>
				<%}%>
				<small class="badge rounded-pill bd-<%=color%>-200 fw-light me-1" data-bs-toggle="tooltip" data-bs-original-title="<%=_.last(drive.name.split('/'))%>">
					<i class="icon-regular icon-hard-drive icon-fw me-1 text-gray-700"></i>
					<%=drive.temperature%> °C
				</small>
			<%})%>
		</div>
		<%if (pool.scanStats && pool.scanStats?.state?.toLowerCase() !== 'finished') {%>
			<%const progress = (pool.scanStats.toExamine === 0 ? 0 : (pool.scanStats.issued / pool.scanStats.toExamine) * 100)%>
			<div class="lh-1 text-body-tertiary mt-3">
				<small>
					<%if (pool.scanStats.scrubPause === 0) {%>
						Running data integrity check...
					<%} else if (pool.scanStats.scrubPause !== 0) {%>
						Data integrity check paused
					<%}%>
				</small>
			</div>
			<div class="row g-0 d-flex align-items-baseline">
				<div class="col">
					<div class="progress" role="progressbar">
						<div class="progress-bar bg-cyan-300 <%=(pool.scanStats.scrubPause === 0 ? 'progress-bar-striped progress-bar-animated' : '')%>" style="width: <%=progress%>%;"></div>
					</div>
				</div>
				<div class="col-auto lh-1 text-body-tertiary text-end" style="width: 45px;">
					<small class="fw-light"><%=progress.toFixed(0)%>%</small>
				</div>
			</div>
		<%}%>
	<%}%>
</li>
