<%if (state.ups === 'remote i/o error' || state.ups?.batteryCharge === false) {%>
	<%return%>
<%}%>
<li class="list-group-item ups py-3">
	<h6 class="d-flex align-items-center text-body-emphasis mb-0">
		<i class="icon-regular icon-car-battery icon-fw me-1 text-gray-500"></i>
		UPS
		<%if (state.ups !== null && state.ups !== false) {%>
			<%if (state.ups?.powerSource === 'grid') {%>
				<u-badge color="green" class="ms-1" pill>GRID</u-badge>
			<%}%>
			<%if (state.ups?.powerSource === 'battery') {%>
				<u-badge color="orange" class="ms-1" pill>BATTERY</u-badge>
			<%}%>
		<%}%>
	</h6>
	<%if (state.ups === null) {%>
		<div class="spinner-border spinner-border-sm text-gray-600"></div>
	<%} else if (state.ups === false) {%>
		<span class="text-red-300">Error fetching data</span>
	<%} else {%>
		<div class="text-end mt-n3 mb-1">
			<small class="fw-light text-body-tertiary"><%=state.ups?.capacity?.toFixed(0)%>%</small>
			<u-progress>
				<u-progress-bar color="<%=(state.ups?.powerSource === 'grid' ? 'green' : 'orange')%>" width="<%=state.ups?.capacity%>" striped="<%=(state.ups?.powerSource === 'battery' || state.ups?.isCharging)%>" animated="<%=(state.ups?.powerSource === 'battery' || state.ups?.isCharging)%>" warning-threshold="999" danger-threshold="999"></u-progress-bar>
			</u-progress>
		</div>
	<%}%>
</li>
