<div id="account">
	<div class="dropdown dropup d-flex align-items-center me-2" style="height: 40px;">
		<img src="assets/img/user-circle.svg" alt="profile" class="dropdown-toggle caret-off rounded-circle cursor-pointer" data-bs-toggle="dropdown" style="width: 30px; height: 30px;">
		<div class="dropdown-menu dropdown-menu-end" style="width: max-content;">
			<h6 class="dropdown-header">Logged in as</h6>
			<p class="d-flex flex-row align-items-center fw-medium px-2 pb-2 mt-n1 mb-0"><%=account.name || '&mdash;'%></p>
			<div class="dropdown-divider"></div>
			<a href="/users/profile" class="dropdown-item">Your profile</a>
			<div class="dropdown-divider"></div>
			<a href="#" class="sign-out dropdown-item">
				Sign out
				<i class="icon-duotone icon-solid icon-person-from-portal icon-fw ms-2"></i>
			</a>
		</div>
	</div>
</div>
