<header class="fleet">
	<div class="navbar navbar-position navbar-light p-0">
		<div class="container-fluid ps-3 pe-0">
			<a href="/" class="navbar-brand order-sm-0">
				<span class="d-none d-md-block ms-1">Fleet</span>
			</a>
			<div class="navbar-glass navbar-glass-shadow d-flex align-items-center justify-content-end w-100 p-2">
				<div class="dropdown dropup d-flex align-items-center me-2" style="height: 40px;">
					<img src="assets/img/user-circle.svg" alt="profile" class="dropdown-toggle caret-off rounded-circle cursor-pointer" data-bs-toggle="dropdown" style="width: 30px; height: 30px;">
					<div class="dropdown-menu dropdown-menu-end" style="width: max-content;">
						<h6 class="dropdown-header">Logged in as</h6>
						<p class="d-flex flex-row align-items-center fw-medium px-2 pb-2 mt-n1 mb-0"><%=account.name || account.email || ''%></p>
						<div class="dropdown-divider"></div>
						<a href="/users/profile" class="dropdown-item">
							Your profile
							<i class="icon-duotone icon-solid icon-id-card icon-fw ms-2"></i>
						</a>
						<div class="dropdown-divider"></div>
						<a href="#" class="sign-out dropdown-item">
							Sign out
							<i class="icon-duotone icon-solid icon-person-from-portal icon-fw ms-2"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
