<div class="d-flex align-items-center justify-content-center h-100 p-5">
	<div class="card shadow border-0" style="width: 100%; max-width: 24rem;">
		<div class="card-body p-7">
			<div class="text-center mb-7">
				<img src="assets/img/fleet.svg" width="48" alt="">
			</div>
			<div class="biometrics d-none">
				<div class="text-center">
					<u-button class="biometrics-action" variant="primary"><i class="icon-solid icon-fingerprint icon-fw"></i>Sign in with biometrics</u-button>
				</div>
				<small class="d-block text-center fw-lighter fg-4 mt-3 biometrics-hint"></small>
				<div class="d-flex align-items-center my-5">
					<hr class="flex-grow-1 border-gray-200 my-0 opacity-25">
					<small class="px-3 fw-lighter fg-4">or</small>
					<hr class="flex-grow-1 border-gray-200 my-0 opacity-25">
				</div>
			</div>
			<u-form class="signin">
				<h4 class="text-center mb-5">Authentication</h4>
				<u-input type="email" name="email" label="Email" class="email"></u-input>
				<u-input type="password" name="password" label="Password" class="password" autocomplete="current-password"></u-input>
				<div class="d-flex align-items-center justify-content-between mt-5">
					<a href="/signup" class="text-decoration-none">Register</a>
					<u-button type="submit" variant="primary">Sign in</u-button>
				</div>
			</u-form>
		</div>
	</div>
</div>
