<div id="account">
	<%if (!_.isNull(upgrade)) {%>	
	<%} else if (!isAuthenticated) {%>
		<%if (authDomain) {%>
			<a href="https://<%=authDomain%>/?rd=<%=window.location%>" class="btn btn-sm btn-primary me-2">Sign in</a>
		<%}%>
	<%} else {%>
		<div class="dropdown dropup d-flex align-items-center me-2" style="height: 38px;">
			<img src="/assets/img/user-circle.svg" alt="profile" class="rounded-circle" data-bs-toggle="dropdown" style="width: 30px; height: 30px;">
			<div class="dropdown-menu dropdown-menu-end" style="width: max-content;">
				<h6 class="dropdown-header">Logged in as</h6>
				<p class="d-flex flex-row align-items-center px-2 pb-1 mb-0"><%=account.name%></p>
				<div class="dropdown-divider"></div>
				<a href="#" rel=“nofollow“ class="sign-out dropdown-item">Sign out</a>
			</div>
		</div>
	<%}%>
</div>
