<div class="col-4">
	<div class="card text-bg-light rounded-4 border-0">
		<div class="card-body ps-0 pt-0">
			<div class="row g-0 align-items-center">
				<div class="col-2 p-2">
					<img src="<%=logo%>" class="card-image">
				</div>
				<div class="col">
					<span class="fw-medium"><%=title%></span>
				</div>
			</div>
			<div class="row g-0">
				<div class="col offset-2">
					<p class="line-clamp two-line"><%=description%></p>
					<a href="#" class="install btn btn-outline-primary btn-sm">Install</a>
				</div>
			</div>
		</div>
	</div>
</div>
