<div id="<%=entity.name%>" class="card text-bg-light rounded-4 border-0">
	<div class="card-body ps-0 py-1">
		<div class="row g-0 align-items-center">
			<div class="col-2 p-2 card-image">
				<img src="<%=entity.icon%>">
			</div>
			<div class="col flex-grow-1 text-truncate">
				<%=entity.title%>
			</div>
			<%if (isAuthenticated) {%>
				<div class="col-auto">
					<div class="dropdown">
						<span type="button" data-bs-toggle="dropdown" class="btn btn-sm">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 512" class="fa"><path fill="var(--bs-secondary)" d="M64 360a56 56 0 1 0 0 112 56 56 0 1 0 0-112zm0-160a56 56 0 1 0 0 112 56 56 0 1 0 0-112zM120 96A56 56 0 1 0 8 96a56 56 0 1 0 112 0z"/></svg>
						</span>
						<ul class="dropdown-menu">
							<li><a href="#" class="dropdown-item">Edit</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a href="#" class="dropdown-item text-danger">Remove</a></li>
						</ul>
					</div>
				</div>
			<%}%>
		</div>
	</div>
	<%if (!_.isEmpty(entity.url)) {%>
		<a href="<%=entity.url%>" target="<%=(entity.target ?? entity.name)%>" class="stretched-link"></a>
	<%}%>
	<span class="d-none indicator translate-middle p-2 border border-light rounded-circle <%=(entity.state === 'running' ? 'bg-green-300' : 'bg-red-300')%>"></span>
</div>
