<div id="system-services" class="d-none">
	<div class="row">
		<div class="col-12 position-relative mb-5">
			<h4 class="m-0">
				<i class="icon-duotone icon-solid icon-cube icon-width-auto me-3"></i>
				Services
			</h4>
			<div class="position-absolute top-0 end-0 pe-5 mt--1">
				<button class="btn-sm btn-icon btn-outline theme-secondary" data-action="sync">
					<i class="icon-solid icon-arrows-rotate icon-width-auto"></i>
				</button>
			</div>
		</div>
		<div class="loading d-flex justify-content-center align-items-center h-100"><div class="spinner-border fg-gray-600"></div></div>
		<div class="oops d-flex justify-content-center align-items-center h-100 d-none"><span class="fg-red-300">Error fetching data</span></div>
		<div class="container-fluid position-relative d-none">
			<div class="card border-0">
				<div class="card-body">
					<div class="row g-3 align-items-center">
						<div class="col col-6 md:col-4">
							<u-input type="search" label="Search" class="search"></u-input>
						</div>
						<div class="col-12 md:col-auto order-last md:order-0 mb-7">
							<div class="nav nav-pills d-flex filter-type">
								<button type="button" class="nav-link px-3 py-1 active" data-filter-type="">All</button>
								<button type="button" class="nav-link px-3 py-1" data-filter-type="service">service</button>
								<button type="button" class="nav-link px-3 py-1" data-filter-type="timer">timer</button>
								<button type="button" class="nav-link px-3 py-1" data-filter-type="socket">socket</button>
								<button type="button" class="nav-link px-3 py-1" data-filter-type="target">target</button>
								<button type="button" class="nav-link px-3 py-1" data-filter-type="path">path</button>
							</div>
						</div>
						<div class="col-auto">
							<%=filterPartial%>
						</div>
						<div class="col filter-pills d-none flex-wrap align-items-center gap-3 mb-7"></div>
					</div>
					<div class="overflow-y-scroll mt--5 pe-5 mx-0 me--5">
						<table class="table table-hover align-middle m-0">
							<thead class="sticky-top">
								<tr>
									<th class="orderable text-nowrap" data-field="unit">
										Unit
										<i class="icon icon-duotone icon-solid icon-sort icon-fw ms-1"></i>
									</th>
									<th class="orderable desc text-end text-nowrap d-none md:d-table-cell" data-field="memory.percent" data-default-order="desc" style="width: 100px; min-width: 100px;">
										<i class="icon-solid icon-memory icon-fw" data-bs-toggle="tooltip" data-bs-original-title="RAM"></i>
										<i class="icon icon-duotone icon-solid icon-sort icon-fw ms-1"></i>
									</th>
									<th class="orderable text-nowrap d-none md:d-table-cell" data-field="unitFileState" style="width: 190px; min-width: 190px;">
										Automatic startup
										<i class="icon icon-duotone icon-solid icon-sort icon-fw ms-1"></i>
									</th>
									<th class="orderable text-nowrap" data-field="sub" style="width: 85px; min-width: 85px;">
										State
										<i class="icon icon-duotone icon-solid icon-sort icon-fw ms-1"></i>
									</th>
									<th style="width: 30px; min-width: 30px;"></th>
									<th style="width: 30px; min-width: 30px;"></th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="details"></div>
		</div>
	</div>
</div>
