<%
	const groupLabels = { sub: 'State', unitFileState: 'Automatic startup' };
%>
<%_.each(groups, (group) => {%>
	<h6 class="menu-header"><%=groupLabels[group.key]%></h6>
	<div class="text-nowrap px-3">
		<%_.each(group.options, (option) => {%>
			<div class="form-field">
				<input type="checkbox" id="system-services-filter-<%-group.key%>-<%-option.value%>" class="check" data-filter-key="<%-group.key%>" value="<%-option.value%>" <%=(option.selected ? 'checked' : '')%>>
				<label for="system-services-filter-<%-group.key%>-<%-option.value%>" class="d-flex justify-content-between gap-7 <%=(option.count === 0 ? 'fg-4' : '')%>">
					<span><%-option.value%></span>
					<span class="fg-4"><%=option.count%></span>
				</label>
			</div>
		<%})%>
	</div>
<%})%>
