<%
	const groupLabels = { sub: 'State', unitFileState: 'Automatic startup' };
%>
<%_.each(groups, (group) => {%>
	<%if (!_.isEmpty(group.selected)) {%>
		<span class="chip theme-primary cursor-default" <%if (group.selected.length > 2) {%>data-bs-toggle="tooltip" title="<%-group.selected.join(', ')%>"<%}%>>
			<%=groupLabels[group.key]%>: <%-(group.selected.length > 2 ? `${group.selected.length} selected` : group.selected.join(', '))%>
			<button type="button" class="chip-dismiss" data-filter-key="<%-group.key%>" aria-label="Remove"><i class="icon-solid icon-times"></i></button>
		</span>
	<%}%>
<%})%>
<button type="button" class="btn-link d-inline-block btn-sm text-decoration-none" data-action="clear-filters">Clear filters</button>
