<div id="users" class="d-none">
	<div class="row">
		<div class="col-12 position-relative mb-3">
			<h5 class="m-0">
				<i class="icon-duotone icon-solid icon-user icon-fw me-1"></i>
				Users
			</h5>
			<div class="position-absolute top-0 end-0 pe-3 mt-n1">
				<a href="#user-create" class="btn btn-sm btn-outline-secondary py-1" data-bs-toggle="modal">New user</a>
			</div>
		</div>
		<div class="loading d-flex justify-content-center align-items-center h-100"><div class="spinner-border text-gray-600"></div></div>
		<div class="oops d-flex justify-content-center align-items-center h-100 d-none"><span class="text-red-300">Error fetching data</span></div>
		<div class="container-fluid position-relative d-none">
			<div class="card rounded-4 border-0">
				<div class="card-body">
					<div class="row g-2">
						<div class="col col-4">
							<u-input type="search" label="Search" class="search"></u-input>
						</div>
					</div>
					<div class="overflow-y-scroll mt-n3 mx-n3 pe-md-3 mx-md-0 me-md-n3">
						<table class="table table-hover align-middle m-0">
							<thead class="sticky-top">
								<tr>
									<th class="d-none d-md-table-cell" style="width: 1%;"></th>
									<th class="orderable asc text-nowrap" data-field="username">
										User
										<i class="icon icon-duotone icon-solid icon-sort icon-fw ms-1"></i>
									</th>
									<th class="orderable text-nowrap d-none d-md-table-cell" data-field="fullname">
										Name
										<i class="icon icon-duotone icon-solid icon-sort icon-fw ms-1"></i>
									</th>
									<th class="text-nowrap d-none d-md-table-cell">Groups</th>
									<th class="text-center text-nowrap" style="width: 40px; min-width: 40px;">
										<i class="icon-solid icon-square-terminal icon-fw" data-bs-toggle="tooltip" data-bs-original-title="Shell access"></i>
									</th>
									<th class="orderable text-nowrap" data-field="isDisabled" style="width: 85px; min-width: 85px;">
										State
										<i class="icon icon-duotone icon-solid icon-sort icon-fw ms-1"></i>
									</th>
									<th style="width: 40px; min-width: 40px;"></th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
