<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 item">
	<div class="user card position-relative rounded-4 border-0" data-uid="<%=user.uid%>">
		<div class="card-body ps-0 py-1">
			<div class="row g-0 align-items-center">
				<div class="card-image card-spacer col-auto p-2">
					<%if (user.isOwner) {%>
						<i class="icon-light icon-user-crown"></i>
					<%} else {%>
						<i class="icon-light icon-user"></i>
					<%}%>
				</div>
				<div class="col flex-grow-1 text-truncate">
					<%=user.fullname || user.username%>
				</div>
				<div class="col-auto">
					<div class="dropdown">
						<span data-bs-toggle="dropdown" class="dropdown-toggle caret-off btn btn-sm">
							<i class="icon-solid icon-ellipsis-vertical icon-fw text-secondary"></i>
						</span>
						<ul class="dropdown-menu">
							<li><a href="#user-update" class="dropdown-item" data-bs-toggle="modal">Edit</a></li>
							<%if (!user.isOwner && user.username !== account.user) {%>
								<%if (!user.isDisabled) {%>
									<li><a href="#user-password" class="dropdown-item" data-bs-toggle="modal">Change password</a></li>
								<%}%>
								<li><hr class="dropdown-divider"></li>
								<li>
									<%if (user.isDisabled) {%>
										<a href="#" class="unlock dropdown-item">Unlock</a>
									<%} else {%>
										<a href="#" class="lock dropdown-item text-danger">Lock</a>
									<%}%>
								</li>
								<li><hr class="dropdown-divider"></li>
								<li><a href="#" class="delete dropdown-item text-danger">Delete</a></li>
							<%}%>
						</ul>
					</div>
				</div>
			</div>
			<div class="row g-0 mt-n2 mb-2">
				<div class="card-spacer col-auto p-2"></div>
				<div class="col flex-grow-1 text-secondary">
					<dl class="m-0">
						<dt class="fw-lighter"><small>Username</small></dt>
						<dd><%=user.username%></dd>
						<dt class="fw-lighter"><small>Groups</small></dt>
						<dd>
							<%=_.join(_.sortBy(_.map(user.groups, (group) => { if (typeof group === 'string') { return group; } return group.groupname; })), ', ')%>
						</dd>
						<dt class="fw-lighter"><small>Shell access</small></dt>
						<dd><%=(_.includes(user.shell, 'nologin') ? 'No' : 'Yes')%></dd>
						<dt class="fw-lighter"><small>Email address</small></dt>
						<dd class="m-0"><%=user.email || '&mdash;'%></dd>
					</dl>
				</div>
			</div>
		</div>
		<span class="indicator translate-middle p-2 border border-light rounded-circle <%=(user.isDisabled ? 'bg-red-300' : 'bg-green-300')%>"></span>
	</div>
</div>
