<tr class="user" data-uid="<%=user.uid%>">
	<td class="d-none d-md-table-cell" style="width: 1px;">
		<div class="row-image">
			<%if (user.isOwner) {%>
				<i class="icon-light icon-user-crown"></i>
			<%} else {%>
				<i class="icon-light icon-user"></i>
			<%}%>
		</div>
	</td>
	<td style="min-width: 210px; max-width: 0;">
		<div class="d-flex align-items-center mb-n1">
			<div class="text-truncate"><%=user.username%></div>
			<%if (isSameAsLoggedIn) {%>
				<u-badge class="ms-2" pill><small>YOU</small></u-badge>
			<%}%>
		</div>
		<div class="d-flex">
			<div class="text-truncate"><small class="text-body-tertiary"><%=user.email || '&mdash;'%></small></div>
		</div>
	</td>
	<td class="d-none d-md-table-cell" style="min-width: 226px; max-width: 0;">
		<div class="d-flex">
			<div class="text-truncate"><%=user.fullname || user.username%></div>
		</div>
	</td>
	<td class="d-none d-md-table-cell">
		<%_.each(user.groups, (group) => {%>
			<u-badge color="purple" pill><%=group%></u-badge>
		<%})%>
	</td>
	<td class="text-center text-nowrap d-none d-md-table-cell">
		<%=(_.includes(user.shell, 'nologin') ? '<i class="icon-solid icon-xmark text-gray-500"></i>' : '<i class="icon-solid icon-check text-gray-500"></i>')%>
	</td>
	<td class="text-nowrap">
		<%if (user.isDisabled) {%>
			<u-badge color="red" pill>locked</u-badge>
		<%} else {%>
			<u-badge color="green" pill>unlocked</u-badge>
		<%}%>
	</td>
	<td class="text-center px-0">
		<%if (isSameAsLoggedIn) {%>
			<a href="/users/profile"><i class="icon-solid icon-angle-right text-body-tertiary" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="This is you! Edit your profile or change your password in your <strong><u>Profile</u></strong> page."></i></a>
		<%} else {%>
			<div class="dropdown">
				<span data-bs-toggle="dropdown" class="dropdown-toggle caret-off btn btn-sm">
					<i class="icon-solid icon-ellipsis-vertical icon-fw text-secondary"></i>
				</span>
				<ul class="dropdown-menu">
					<li><a href="#user-update" class="dropdown-item" data-bs-toggle="modal"><i class="icon-regular icon-pen icon-fw me-1"></i>Edit</a></li>
					<%if (!user.isOwner && user.username !== account.user) {%>
						<%if (!user.isDisabled) {%>
							<li><a href="#user-password" class="dropdown-item" data-bs-toggle="modal"><i class="icon-regular icon-key icon-fw me-1"></i>Change password</a></li>
						<%}%>
						<li><hr class="dropdown-divider"></li>
						<li>
							<%if (user.isDisabled) {%>
								<a href="#" class="dropdown-item" data-action="unlock"><i class="icon-regular icon-lock-open icon-fw me-1"></i>Unlock</a>
							<%} else {%>
								<a href="#" class="dropdown-item text-danger" data-action="lock"><i class="icon-regular icon-lock icon-fw me-1"></i>Lock</a>
							<%}%>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li><a href="#" class="dropdown-item text-danger" data-action="delete"><i class="icon-regular icon-times icon-fw me-1"></i>Delete</a></li>
					<%}%>
				</ul>
			</div>
		<%}%>
	</td>
</tr>
