<dialog id="time-machine-create" class="dialog dialog-scrollable">
	<u-form>
		<div class="dialog-header">
			<h1 class="dialog-title">New time machine</h1>
		</div>
		<div class="dialog-body">
			<u-input name="comment" label="Name" class="comment"></u-input>
			<u-select name="validUsers" label="Authorized user" class="valid-users"></u-select>
			<u-input name="refquota" label="Capacity" class="refquota">
				<span slot="suffix">GiB</span>
			</u-input>
		</div>
		<div class="dialog-footer">
			<u-button variant="secondary" class="d-flex ms-auto" data-bs-dismiss="dialog" outline>Cancel</u-button>
			<u-button type="submit" variant="primary">Create</u-button>
		</div>
	</u-form>
</dialog>
