<dialog id="time-machine-update" class="dialog dialog-scrollable">
	<u-form>
		<u-input type="hidden" name="name" class="name"></u-input>
		<div class="dialog-header">
			<h1 class="dialog-title">Edit time machine</h1>
		</div>
		<div class="dialog-body">
			<div class="alert theme-secondary mb-5">
				<dl class="m-0">
					<dt class="fw-light fg-4"><small>Name</small></dt>
					<dd class="comment m-0"></dd>
				</dl>
			</div>
			<u-select name="validUsers" label="Authorized user" class="valid-users"></u-select>
			<u-input name="refquota" label="Capacity" class="refquota">
				<span slot="suffix">GiB</span>
			</u-input>
		</div>
		<div class="dialog-footer">
			<u-button variant="secondary" class="d-flex ms-auto" data-bs-dismiss="dialog" outline>Cancel</u-button>
			<u-button type="submit" variant="primary">Update</u-button>
		</div>
	</u-form>
</dialog>
