<header>
	<div class="navbar navbar-position navbar-light p-0">
		<div class="container-fluid ps-3 pe-0">
			<a href="/" class="navbar-brand order-sm-0">
				<span class="d-none d-md-block">Spica</span>
			</a>
			<div class="offcanvas offcanvas-bottom flex-grow-1 bg-primary" data-bs-scroll="true" tabindex="-1">
				<div class="offcanvas-body">
					<div class="navbar-nav position-relative"></div>
				</div>
				<div class="offcanvas-header">
					<div class="offcanvas-title"></div>
					<button type="button" class="navbar-toggler border-0 pe-2 ms-auto" data-bs-dismiss="offcanvas" data-bs-target=".offcanvas">
						<i class="icon-solid icon-xmark icon-fw"></i>
					</button>
				</div>
			</div>
			<div class="navbar-glass navbar-glass-shadow d-flex align-items-center justify-content-end w-100 p-3">
				<div id="weather"></div>
				<div id="notifications"></div>
				<div id="account"></div>
				<button type="button" class="navbar-toggler border-0 p-2 <%=(!isAuthenticated || isUpdating ? 'd-none' : '')%>" data-bs-toggle="offcanvas" data-bs-target=".offcanvas" role="button">
					<i class="icon-solid icon-ellipsis-vertical icon-fw icon-fw text-secondary"></i>
				</button>
			</div>
		</div>
	</div>
	<nav class="bg-primary d-none d-sm-block">
		<div id="navbar" class="navbar navbar-dark d-flex flex-column">
			<hr class="border-secondary-subtle w-100 mt-0 mb-3">
			<div class="nav nav-pills mb-auto"></div>
			<hr class="border-secondary-subtle w-100 my-3">
			<small class="serial-number navbar-text p-0 me-auto"></small>
		</div>
	</nav>
</header>
