<header>
	<div class="navbar navbar-position navbar-light p-0">
		<div class="container-fluid ps-3 pe-0">
			<span class="navbar-brand order-sm-0">Spica</span>
			<div class="offcanvas offcanvas-bottom flex-grow-1 bg-primary" data-bs-scroll="true" tabindex="-1">
				<div class="offcanvas-body">
					<div class="navbar-nav position-relative">
						<%=navigationTemplate()%>
						<div class="position-absolute h-100 d-sm-none d-flex align-items-start flex-column">
							<div class="mt-auto mb-2">
								<div class="updates"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="offcanvas-header">
					<div class="offcanvas-title">
						<small class="version text-white-50 ps-1"></small>
					</div>
					<button type="button" class="navbar-toggler border-0 pe-2 ms-auto" data-bs-dismiss="offcanvas" data-bs-target=".offcanvas">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="fa fa-fw"><path d="M345 137c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-119 119L73 103c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l119 119L39 375c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l119-119L311 409c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-119-119L345 137z"/></svg>
					</button>
				</div>
			</div>
			<div class="navbar-glass navbar-glass-shadow d-flex align-items-center justify-content-end w-100 p-3">
				<div class="d-none d-sm-block me-3"><div class="updates"></div></div>
				<div id="weather"></div>
				<div id="notifications"></div>
				<div id="account"></div>
				<button type="button" class="navbar-toggler border-0 p-2 <%=(isUpgrading ? 'd-none' : '')%>" data-bs-toggle="offcanvas" data-bs-target=".offcanvas" role="button">
					<svg xmlns="http://www.w3.org/2000/svg" class="fa fa-fw" viewBox="0 0 128 512"><path d="M48 464a48 48 0 1 1 0-96 48 48 0 1 1 0 96zm0-160a48 48 0 1 1 0-96 48 48 0 1 1 0 96zM0 96a48 48 0 1 1 96 0A48 48 0 1 1 0 96z"/></svg>
				</button>
			</div>
		</div>
	</div>
	<nav class="bg-primary d-none d-sm-block">
		<div id="navbar" class="navbar navbar-dark d-flex flex-column">
			<hr class="border-secondary-subtle w-100 mt-0 mb-3">
			<div class="nav nav-pills mb-auto">
				<%=navigationTemplate()%>
			</div>
			
			<hr class="border-secondary-subtle w-100 my-3">
			<small class="serial-number navbar-text p-0 me-auto"></small>
			<small class="version navbar-text p-0 me-auto"></small>
		</div>
	</nav>
</header>
