<div class="d-flex flex-column justify-content-center align-items-center mx-auto h-100 px-3">
	<img src="/assets/img/virgo.svg" class="mb-4" width="60" alt="">
	<div class="col-12 col-sm-8 col-md-6 col-lg-4">
		<div class="card rounded-4 border-0 shadow-sm">
			<div class="card-body p-4">
				<u-form class="fleet-login-form">
					<h5 class="card-title mb-4">Sign in to fleet</h5>
					<u-input type="email" name="email" label="Email" class="email" autocomplete="username"></u-input>
					<u-input type="password" name="password" label="Password" class="password" autocomplete="current-password"></u-input>
					<div class="d-flex align-items-center justify-content-between mt-3">
						<a href="#" class="fleet-toggle-signup small">Create an account</a>
						<u-button type="submit" variant="primary">Sign in</u-button>
					</div>
				</u-form>
				<u-form class="fleet-signup-form d-none">
					<h5 class="card-title mb-4">Create your fleet account</h5>
					<u-input name="fullname" label="Name" class="fullname"></u-input>
					<u-input type="email" name="email" label="Email" class="email" autocomplete="username"></u-input>
					<u-input type="password" name="password" label="Password" class="password" autocomplete="new-password"></u-input>
					<u-input type="password" name="passwordCheck" label="Confirm password" class="password-check" autocomplete="new-password"></u-input>
					<div class="d-flex align-items-center justify-content-between mt-3">
						<a href="#" class="fleet-toggle-login small">Sign in instead</a>
						<u-button type="submit" variant="primary">Create account</u-button>
					</div>
				</u-form>
			</div>
		</div>
	</div>
</div>
