<div class="d-flex flex-column justify-content-center align-items-center mx-auto h-100 px-3">
	<img src="/assets/img/virgo.svg" class="mb-4" width="60" alt="">
	<div class="col-12 col-sm-8 col-md-6 col-lg-4">
		<div class="card rounded-4 border-0 shadow-sm">
			<div class="card-body p-4">
				<h5 class="card-title mb-4">Sign in to fleet</h5>
				<u-form class="fleet-login-form">
					<u-input type="email" name="email" label="Email" class="email" autocomplete="username"></u-input>
					<u-input type="password" name="password" label="Password" class="password" autocomplete="current-password"></u-input>
					<div class="fleet-login-error text-danger small mb-3 d-none"></div>
					<u-button type="submit" variant="primary" class="w-100">Sign in</u-button>
				</u-form>
			</div>
		</div>
	</div>
</div>
