<div id="notifications">
	<%if (isAuthenticated) {%>
		<div class="dropdown dropup d-flex align-items-center me-3" style="height: 40px;">
			<a class="dropdown-toggle caret-off" data-bs-toggle="dropdown">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path class="fa-secondary" opacity=".4" d="M0 384c0 4.4 .9 8.9 2.8 13.1C8 408.6 19.4 416 32 416l384 0c12.6 0 24-7.4 29.2-18.9c1.9-4.2 2.8-8.7 2.8-13.1c0-7.7-2.8-15.3-8.1-21.3l-7.4-8.3C401.3 319.2 384 273.9 384 226.8l0-18.8c0-77.4-55-142-128-156.8L256 32c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 19.2C119 66 64 130.6 64 208l0 18.8c0 47-17.3 92.4-48.5 127.6l-7.4 8.3C2.8 368.7 0 376.3 0 384z"/><path class="fa-primary" d="M288 448c0 17-6.7 33.3-18.7 45.3s-28.3 18.7-45.3 18.7s-33.3-6.7-45.3-18.7s-18.7-28.3-18.7-45.3l64 0h64z"/></svg>
			</a>
			<div class="dropdown-menu dropdown-menu-end" style="width: 300px;">
				<h6 class="dropdown-header d-flex">
					<span>Notifications</span>
					<a href="#" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover ms-auto <%=(_.isEmpty(notifications) ? 'd-none' : '')%>">Mark all as read</a>
				</h6>
				<%if (_.isEmpty(notifications)) {%>
					<p class="text-body-tertiary text-center p-4 mb-0">No notifications</p>
				<%} else {%>
					<%_.each(notifications, (notification, index) => {%>
						<%let color = 'blue'%>
						<%if (notification.type === 'warning') {%>
							<%color = 'yellow'%>
						<%}%>
						<div class="toast show bd-<%=color%>-100 shadow-none border-0 <%=(index < _.size(notifications) - 1 ? 'mb-2' : '')%>">
							<div class="d-flex">
								<div class="toast-body">
									<strong><%=notification.title%></strong>
									<div class="fw-light"><small><%=notification.message%></small></div>
									<div><small><%=moment(notification.createdOn).fromNow()%></small></div>
								</div>
								<button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast"></button>
							</div>
						</div>
					<%})%>
				<%}%>
			</div>
		</div>
	<%}%>
</div>
