<%const selectedSite = _.find(sites, { selected: true })%>
<div class="nav-item">
	<div class="nav-title ps-sm-2"><small>Sites</small></div>
	<div class="btn-group align-items-center w-100 mb-4">
		<span data-bs-toggle="dropdown" class="dropdown-toggle d-flex justify-content-between align-items-center btn btn-secondary bd-white shadow-sm w-100 text-start">
			<%if (selectedSite) {%>
				<span class="d-flex align-items-center text-truncate">
					<span class="text-truncate"><%=selectedSite.name%></span>
					<%if (!selectedSite.isOwner) {%>
						<u-badge color="gray" tint="300" class="ms-2 flex-shrink-0" pill>Invited</u-badge>
					<%}%>
				</span>
			<%} else {%>
				&mdash;
			<%}%>
		</span>
		<a href="/sites" class="btn btn-sm text-white p-0 m-0 ms-2"><i class="icon-solid icon-sm icon-cog"></i></a>
		<ul class="dropdown-menu w-100">
			<%_.each(sites, (site) => {%>
				<li>
					<a href="#" class="dropdown-item d-flex align-items-center justify-content-between<%=site.selected ? ' active' : ''%>" data-node-id="<%=site.nodeId%>">
						<span class="d-flex align-items-center text-truncate">
							<i class="icon-solid icon-dot <%=site.online ? 'text-green-400' : 'text-red-400'%> me-1"></i>
							<span class="text-truncate"><%=site.name%></span>
						</span>
						<%if (!site.isOwner) {%>
							<u-badge color="gray" tint="300" class="ms-2 flex-shrink-0" pill>Invited</u-badge>
						<%}%>
					</a>
				</li>
			<%})%>
		</ul>
	</div>
</div>
