<%
let toastAutoHide = 'false';
let toastColor = 'blue';
if (job.progress.state === 'completed') {
	toastAutoHide = 'true';
	toastColor = 'green';
}
if (job.progress.state === 'failed') {
	toastColor = 'red';
}
%>
<div id="toast-${job.id}" class="toast ${job.progress.state} bd-${toastColor}-500 border-0 ${(hasToast ? 'fade show' : '')}" data-bs-autohide="${toastAutoHide}" data-bs-delay="8000">
	<div class="d-flex">
		<div class="toast-body w-100">
			<strong>${job.progress.message}</strong>
			<%_.each(job.progress?.progress, (progress, key) => {%>
				<%const isActive = _.includes(['downloading', 'extracting'], (progress.text || '').toLowerCase())%>
				<%if (!isActive) {%>
					<%progress.percent = 100%>
				<%}%>
				<div class="my-1">
					<div class="d-flex">
						<span>
							<%=progress.text%>
							<%=key%>
						</span>
						<span class="ms-auto"><%=(isActive ? `(${prettyBytes(progress.current)}/${prettyBytes(progress.total)})` : '')%></span>
					</div>
					<div class="progress" role="progressbar">
						<div class="progress-bar <%=(isActive ? 'bg-cyan-300 progress-bar-striped progress-bar-animated' : 'bg-green-200')%>" style="width: <%=progress.percent%>%;"></div>
					</div>
				</div>
			<%})%>
			<div>${(job.progress.state === 'failed' ? job.failedReason : '')}</div>
			<div><small class="text-${toastColor}-100">${(job.progress.state === 'active' ? moment(job.processedOn).format('LLL') : moment(job.finishedOn).format('LLL'))}</small></div>
		</div>
		<button type="button" class="btn-close btn-close-white me-2 m-auto ${(job.progress.state === 'active' ? 'd-none' : '')}" data-bs-dismiss="toast"></button>
	</div>
</div>
