<div class="steps text-secondary">
	<div class="card rounded-4 border-0">
		<div class="card-body">
			<ul>
				<%_.each(update.steps, (step) => {%>
					<%if (_.includes(step, '\r')) {%>
						<%step = _.last(_.initial(_.split(step, '\r')))%>
					<%}%>
					<%if (!_.isEmpty(step)) {%>
						<li><%=step%></li>
					<%}%>
				<%})%>
				<%if (update.state === 'succeeded') {%>
					<li class="text-success">Update succeeded</li>
				<%}%>
				<%if (update.state === 'failed') {%>
					<li class="text-danger">Something went wrong, could not update.</li>
				<%}%>
			</ul>
			<div class="d-flex align-items-center mt-4" style="min-height: 2.375rem;">
				<%if (update.state === 'running' && update.progress) {%>
					<div class="flex-fill">
						<div class="d-flex justify-content-between mb-1">
							<span><%=(update.progress.stage === 'download' ? 'Downloading' : 'Installing')%></span>
							<span><%=update.progress.percent%>%</span>
						</div>
						<u-progress>
							<u-progress-bar color="<%=(update.progress.stage === 'download' ? 'cyan' : 'blue')%>" tint="300" width="<%=update.progress.percent%>" striped animated warning-threshold="101" danger-threshold="101"></u-progress-bar>
						</u-progress>
					</div>
				<%}%>
				<%if (update.isRebootRequired) {%>
					<u-button variant="danger" class="ms-auto <%=(!_.includes(['succeeded', 'failed'], update.state) ? 'd-none' : '')%>" data-action="reboot">Reboot</u-button>
				<%} else {%>
					<u-button variant="primary" class="ms-auto <%=(!_.includes(['succeeded', 'failed'], update.state) ? 'd-none' : '')%>" data-action="complete">Continue</u-button>
				<%}%>
			</div>
		</div>
	</div>
</div>
