<%
let badge = '';
if (isAuthenticated) {
	if (_.isEmpty(updates)) {
		badge = `
			<span class="badge d-flex align-items-center text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill p-2 ms-auto" style="width: max-content;">
				<span class="${(checkUpdates ? 'd-none' : '')}">No updates available</span>
				<span class="${(!checkUpdates ? 'd-none' : '')}">Checking for updates...</span>
				<span class="vr mx-2"></span>
				<a href="#" class="check-updates ${(checkUpdates ? 'pe-none' : '')}" data-bs-toggle="tooltip" data-bs-original-title="${(!checkUpdates ? 'Check for updates' : '')}">
					<i class="icon-solid icon-arrows-rotate ${(checkUpdates ? 'icon-spin' : '')}" style="color: var(--bs-green);"></i>
				</a>
			</span>
		`;
	} else {
		badge = `
			<span class="badge d-flex align-items-center bd-green-100 border border-green-200 rounded-pill p-2 ms-auto" style="width: max-content;">
				<i class="icon-duotone icon-solid icon-download me-2"></i>
				Updates available
			</span>
		`;
	}
}
%>
<%if (isAuthenticated) {%>
	<%if (_.isEmpty(updates)) {%>
		<div class="updates d-flex align-items-center">
			<%=badge%>
		</div>
	<%} else {%>
		<a href="/software-update" class="updates nav-link text-decoration-none d-flex align-items-center">
			<%=badge%>
		</a>
	<%}%>
<%} else {%>
	<div class="updates"></div>
<%}%>
