<div class="steps text-secondary">
	<div class="card position-relative rounded-4 border-0">
		<div class="card-body">
			<ul class="list-unstyled overflow-y-scroll m-0">
				<%_.each(upgrade.steps, (step) => {%>
					<%if (_.includes(step, '\r')) {%>
						<%step = _.last(_.initial(_.split(step, '\r')))%>
					<%}%>
					<%if (!_.isEmpty(step)) {%>
						<li><%=step%></li>
					<%}%>
				<%})%>
				<%if (upgrade.state === 'succeeded') {%>
					<li class="text-success">Upgrade succeeded</li>
				<%}%>
				<%if (upgrade.state === 'failed') {%>
					<li class="text-danger">Something went wrong, could not update</li>
				<%}%>
			</ul>
			<button type="button" class="complete btn btn-primary d-flex ms-auto mt-4 <%=(!_.includes(['succeeded', 'failed'], upgrade.state) ? 'invisible' : '')%>">Continue</button>
		</div>
	</div>
</div>
