<div class="steps text-secondary">
	<div class="card mt-2">
		<div class="card-body pe-0">
			<ul class="list-unstyled overflow-y-scroll m-0">
				<%_.each(upgrade.steps, (step) => {%>
					<li><%=step%></li>
				<%})%>
				<%if (upgrade.state === 'succeeded') {%>
					<li class="text-success">Upgrade succeeded</li>
				<%}%>
				<%if (upgrade.state === 'failed') {%>
					<li class="text-danger">Something went wrong, could not update</li>
				<%}%>
			</ul>
		</div>
	</div>
	<%if (_.includes(['succeeded', 'failed'], upgrade.state)) {%>
		<button type="button" class="complete btn btn-outline-primary d-flex ms-auto mt-4">Continue</button>
	<%}%>
</div>
