<dialog id="profile-password" class="dialog dialog-scrollable">
	<u-form>
		<div class="dialog-header">
			<h1 class="dialog-title">Change password</h1>
		</div>
		<div class="dialog-body">
			<div class="alert theme-secondary mb-5">
				<dl class="m-0">
					<dt class="fw-light fg-4"><small>Username</small></dt>
					<dd class="title-username m-0"></dd>
				</dl>
			</div>
			<u-input type="password" name="password" label="New password" class="password" autocomplete="off"></u-input>
			<u-input type="password" name="passwordCheck" label="Confirm password" class="password-check" autocomplete="off"></u-input>
		</div>
		<div class="dialog-footer">
			<u-button variant="secondary" class="d-flex ms-auto" data-bs-dismiss="dialog" outline>Cancel</u-button>
			<u-button type="submit" variant="primary">Update</u-button>
		</div>
	</u-form>
</dialog>
