<%if (!_.isEmpty(jobs)) {%>
	<i class="icon-solid icon-gear icon-fw icon-spin"></i>
<%} else {%>
	<%const isActive = _.includes(['success', 'warning'], app.state);%>
	<%if (inline) {%>
		<div class="d-inline-flex align-items-center">
			<div class="d-inline-flex align-items-center bg-2 bg-30 border border-white border-10 rounded-3 pe-5">
				<%const canStop = (app.canBeRemoved && isActive);%>
				<a href="#" class="actions-button btn-icon btn-text theme-secondary btn-sm border-0 <%=(app.state === 'success' ? 'disabled' : '')%>" data-action="start" data-bs-toggle="tooltip" data-bs-original-title="Start"><i class="icon-solid icon-play icon-fw <%=(app.state === 'success' ? 'fg-gray-300' : 'fg-green-400')%>"></i></a>
				<a href="#" class="actions-button btn-icon btn-text theme-secondary btn-sm border-0 <%=(isActive ? 'confirm' : 'disabled')%>" data-action="restart" data-bs-toggle="tooltip" data-bs-original-title="Restart"><i class="icon-solid icon-arrow-rotate-left icon-fw <%=(isActive ? 'fg-black' : 'fg-gray-300')%>"></i></a>
				<a href="#" class="actions-button btn-icon btn-text theme-secondary btn-sm border-0 <%=(canStop ? 'confirm' : 'disabled')%>" data-action="stop" data-bs-toggle="tooltip" data-bs-original-title="Stop"><i class="icon-solid icon-stop icon-fw <%=(canStop ? 'fg-red-400' : 'fg-gray-300')%>"></i></a>
			</div>
	<%}%>
	<div class="<%=(inline ? 'dropdown position-relative ms--5' : 'dropdown')%>">
		<%if (inline) {%>
			<span data-bs-toggle="menu" data-bs-placement="bottom-end" class="actions-toggle btn-icon btn-text theme-secondary btn-sm border border-white border-10 rounded-3"><i class="icon-solid icon-ellipsis-vertical icon-fw fg-secondary"></i></span>
		<%} else {%>
			<span data-bs-toggle="menu" data-bs-placement="bottom-end" class="btn-icon btn-text theme-secondary btn-sm"><i class="icon-solid icon-ellipsis-vertical icon-fw fg-secondary"></i></span>
		<%}%>
		<div class="menu">
			<%if (app.hasUpdates && !app.isUnmanaged) {%>
				<a href="#" class="menu-item" data-action="update"><i class="icon-regular icon-download icon-fw"></i>Update</a>
				<div class="menu-divider"></div>
			<%}%>
			<%if (!inline) {%>
				<a href="#" class="menu-item <%=(app.state === 'success' ? 'disabled' : '')%>" data-action="start"><i class="icon-regular icon-play icon-fw"></i>Start</a>
				<div class="menu-divider"></div>
				<a href="#" class="menu-item <%=(isActive ? 'confirm' : 'disabled')%>" data-action="restart"><i class="icon-regular icon-arrow-rotate-left icon-fw"></i>Restart</a>
			<%}%>
			<%if (app.canBeRemoved) {%>
				<%if (!inline) {%>
					<a href="#" class="menu-item <%=(isActive ? 'fg-danger confirm' : 'disabled')%>" data-action="stop"><i class="icon-regular icon-stop icon-fw"></i>Stop</a>
				<%}%>
				<a href="#" class="menu-item <%=(isActive ? 'fg-danger confirm' : 'disabled')%>" data-action="kill"><i class="icon-regular icon-skull icon-fw"></i>Kill</a>
				<%if (!app.isUnmanaged) {%>
					<div class="menu-divider"></div>
				<%}%>
			<%} else if (!inline) {%>
				<div class="menu-divider"></div>
			<%}%>
			<%if (app.isUnmanaged && !app.isStack) {%>
				<div class="menu-divider"></div>
				<a href="#" class="menu-item fg-danger confirm" data-action="remove"><i class="icon-regular icon-times icon-fw"></i>Remove</a>
			<%}%>
			<%if (!app.isUnmanaged) {%>
				<a href="#" class="menu-item fg-danger confirm" data-action="recreate"><i class="icon-regular icon-arrows-rotate icon-fw"></i>Recreate</a>
				<%if (app.canBeRemoved) {%>
					<div class="menu-divider"></div>
					<a href="#" class="menu-item fg-danger confirm" data-action="uninstall"><i class="icon-regular icon-times icon-fw"></i>Uninstall</a>
				<%}%>
			<%}%>
		</div>
	</div>
	<%if (inline) {%>
		</div>
	<%}%>
<%}%>
