<dialog id="admin-add" class="dialog dialog-sm">
	<u-form>
		<div class="dialog-header">
			<h1 class="dialog-title">Add admin</h1>
		</div>
		<div class="dialog-body">
			<u-input type="email" name="email" label="Email address" class="email" autocomplete="off"></u-input>
		</div>
		<div class="dialog-footer">
			<u-button variant="secondary" class="d-flex ms-auto" data-bs-dismiss="dialog" outline>Cancel</u-button>
			<u-button type="submit" variant="primary">Add</u-button>
		</div>
	</u-form>
</dialog>
