<form id="user-create" class="modal fade" tabindex="-1" novalidate>
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">New user</h5>
			</div>
			<div class="modal-body">
				<u-input name="fullname" label="Name" class="fullname"></u-input>
				<u-input type="email" name="email" label="Email address" class="email"></u-input>

				<div class="mb-2">&nbsp;</div>

				<u-input name="username" label="Username" class="username"></u-input>
				<u-input type="password" name="password" label="Password" class="password" autocomplete="off"></u-input>
				<u-input type="password" name="passwordCheck" label="Confirm password" class="password-check" autocomplete="off"></u-input>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary d-flex ms-auto" data-bs-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-primary">Create</button>
			</div>
		</div>
	</div>
</form>
