<form id="user-password" class="modal fade" tabindex="-1" novalidate>
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Change password</h5>
			</div>
			<div class="modal-body">
				<div class="alert alert-light">
					<dl class="m-0">
						<dt class="fw-light text-body-tertiary"><small>Username</small></dt>
						<dd class="title-username m-0"></dd>
					</dl>
				</div>
				<div class="form-floating mb-3">
					<input type="password" name="password" class="password form-control password-input" placeholder="" autocomplete="off">
					<button type="button" class="password-toggle"></button>
					<label>New password</label>
					<div class="invalid-feedback"></div>
				</div>
				<div class="form-floating mb-3">
					<input type="password" name="password-check" class="password-check form-control password-input" placeholder="" autocomplete="off">
					<button type="button" class="password-toggle"></button>
					<label>Confirm password</label>
					<div class="invalid-feedback"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary d-flex ms-auto" data-bs-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-primary">Update</button>
			</div>
		</div>
	</div>
</form>
