::selection {
	color: #ffffff;
	text-shadow: none;
	background: #658ffc;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	overflow-y: scroll !important;
	width: 100%;
	height: 100%;
	font-weight: 300;
	background-color: #ffffff;
	margin-bottom: 64px;
	&[style*="overflow: hidden;"] {
		padding-right: 0 !important;
	}
	&.reboot {
		main,
		#navbar,
		#account,
		#weather,
		.offcanvas,
		.updates {
			display: none !important;
		}
		nav,
		.navbar-glass {
			height: 72px;
		}
	}
}

header {
	.navbar {
		box-shadow: 0 -0.5rem 0.5rem -0.5rem rgba(0, 0, 0, 0.2);
		.navbar-glass {
			background-color: rgba(237, 242, 249, 0.96);
		}
		&.navbar-position {
			z-index: 1030;
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
		}
		.account {
			.dropdown > img {
				cursor: pointer;
			}
		}
		.sign-in,
		.sign-out {
			margin-top: 0.28rem;
			margin-bottom: 0.28rem;
		}
	}
	.navbar-brand {
		padding: 0.31rem 0 0.31rem 2.75rem;
		margin: 0 0 0 -0.25rem;
		background-image: url('/assets/img/virgo.png');
		background-size: 40px;
		background-position: 0 50%;
		background-repeat: no-repeat;
	}
	.nav-link {
		.fa-primary {
			fill: rgba(255,255,255,0.85);
		}
	}
	.navbar-toggler {
		&:focus {
			box-shadow: none;
		}
	}
	.offcanvas {
		--bs-offcanvas-height: 590px;
		--bs-border-color: transparent;
		background-color: rgba(237, 242, 249, 0.96);
	}
	.offcanvas-title {
		line-height: 1.15;
	}
}

main {
	padding-top: 1rem;
	padding-left: 0.5rem;
	.content {
		max-width: 710px;
		margin-left: auto;
		margin-right: auto;
	}
}

.offcanvas-backdrop {
	opacity: 1 !important;
	backdrop-filter: blur(2px);
	background-color: transparent;
	background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
}

.line-clamp {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	&.two-line {
		min-height: 3rem;
		-webkit-line-clamp: 2;
	}
}

@media (max-width: 575px) {
	header {
		.navbar-brand {
			font-weight: bold;
		}
		.navbar {
			background-color: rgba(237, 242, 249, 0.96);
			padding-left: 0;
			padding-right: 0;
			.navbar-nav {
				.nav-link {
					text-align: right;
					padding-top: 1rem;
					padding-bottom: 1rem;
				}
			}
			.navbar-glass {
				width: auto !important;
			}
		}
	}
}

@media (min-width: 576px) {
	body {
		margin-top: 4.5rem;
	}
	header {
		nav {
			position: fixed;
			top: 0;
			width: 15.625rem;
			height: 100vh;
			.navbar {
				height: 100%;
				padding: 4.5rem 1rem 1rem 1rem;
			}
			.nav {
				width: 100%;
				.nav-link {
					color: var(--bs-nav-pills-link-active-color);
					text-decoration-color: RGBA(var(--bs-nav-pills-link-active-color), var(--bs-link-underline-opacity,1));
					&:not(.active):hover {
						color: $white;
						background-color: #82a7ff;
					}
					svg {
						fill: $white;
					}
					&.active,
					&:hover {
						background-color: #407cfc;
						svg {
							fill: $white;
						}
					}
				}
			}
		}
		.navbar-brand {
			color: $white;
		}
		.navbar {
			flex-flow: row nowrap;
			justify-content: flex-start;
			box-shadow: none !important;
			&.navbar-position {
				top: 0;
				bottom: auto;
				left: 0;
				right: 0;
			}
			.navbar-glass {
				width: calc(100% - 15.625rem + 1rem) !important;
				box-shadow: none;
			}
			.navbar-glass-shadow {
				box-shadow: 0 0.5rem 0.5rem -0.5rem rgba(0, 0, 0, 0.2);
			}
			.navbar-toggler {
				display: none;
			}
			.navbar-collapse {
				display: flex !important;
				flex-basis: auto;
			}
			.navbar-nav {
				flex-direction: row;
				.nav-link {
					&:hover {
						color: $white;
						background-color: #82a7ff;
						border-radius: $border-radius;
					}
					padding-right: 0.5rem;
					padding-left: 0.5rem;
				}
			}
			.dropup {
				.dropdown-menu {
					top: 100%;
					bottom: unset;
				}
			}
		}
	}
	main {
		margin-left: 15.625rem;
	}
}
