<dialog id="fleet-profile-edit" class="dialog dialog-sm" tabindex="-1">
	<u-form>
		<div class="dialog-header">
			<h1 class="dialog-title">Edit profile</h1>
		</div>
		<div class="dialog-body">
			<div class="alert theme-secondary mb-5">
				<dl class="m-0">
					<dt class="fw-light fg-4"><small>Logged in as</small></dt>
					<dd class="title-email m-0"></dd>
				</dl>
			</div>
			<u-input name="name" label="Name" class="name" autocomplete="off"></u-input>
		</div>
		<div class="dialog-footer">
			<u-button variant="secondary" class="d-flex ms-auto" data-bs-dismiss="dialog" outline>Cancel</u-button>
			<u-button type="submit" variant="primary">Update</u-button>
		</div>
	</u-form>
</dialog>
