<dialog id="trusted-proxy-edit" class="dialog dialog-sm dialog-scrollable">
	<u-form>
		<u-input type="hidden" name="address" class="address"></u-input>
		<div class="dialog-header">
			<h1 class="dialog-title">Edit trusted proxy</h1>
		</div>
		<div class="dialog-body">
			<div class="alert theme-secondary mb-5">
				<dl class="m-0">
					<dt class="fw-light fg-4"><small>Current address</small></dt>
					<dd class="comment m-0 current-address text-truncate"></dd>
				</dl>
			</div>
			<u-input name="toAddress" label="New address" class="to-address" placeholder="IP, CIDR, or hostname"></u-input>
		</div>
		<div class="dialog-footer">
			<u-button variant="secondary" class="d-flex ms-auto" data-bs-dismiss="dialog" outline>Cancel</u-button>
			<u-button type="submit" variant="primary">Save</u-button>
		</div>
	</u-form>
</dialog>
