<dialog id="trusted-proxy-add" class="dialog dialog-sm dialog-scrollable">
	<u-form>
		<div class="dialog-header">
			<h1 class="dialog-title">Add trusted proxy</h1>
		</div>
		<div class="dialog-body">
			<u-input name="address" label="Address" class="address" placeholder="IP, CIDR, or hostname"></u-input>
		</div>
		<div class="dialog-footer">
			<u-button variant="secondary" class="d-flex ms-auto" data-bs-dismiss="dialog" outline>Cancel</u-button>
			<u-button type="submit" variant="primary">Add</u-button>
		</div>
	</u-form>
</dialog>
