<div class="col col-12 item align-items">
	<div class="no-content d-flex flex-column justify-content-center align-items-center bd-gray-200 rounded-4 border border-1 mb-3">
		<i class="icon-duotone icon-solid icon-face-party icon-4x"></i>
		<h5 class="text-body-tertiary mt-4">Up to date</h5>
		<div class="d-flex align-items-center">
			<u-button variant="tertiary" size="sm" class="check-updates me-auto" <%=(checkUpdates ? 'disabled' : '')%>>
				<i class="icon-solid icon-arrows-rotate <%=(checkUpdates ? 'icon-spin' : '')%> me-1" style="color: var(--bs-green);"></i><%=(checkUpdates ? 'Checking for updates...' : 'Check for new updates')%>
			</u-button>
		</div>
	</div>
</div>
