<u-input <%if (!env.readonly) {%>name="<%-env.name%>"<%}%> value="<%-env?.default || ''%>" label="<%-env.label%>" tip="<%-env.description%>" <%if (env.readonly) {%>disabled<%}%>>
	<%if (prefix || isGated) {%>
		<span slot="prefix" class="d-flex align-items-center">
			<%if (isGated) {%>
				<u-badge color="green" tint="600" class="pe-auto me-2" tip="Private access required. The domain can't be changed." pill><i class="icon-duotone icon-solid icon-key-skeleton"></i></u-badge>
			<%}%>
			<%-prefix%>
		</span>
	<%}%>
	<%if (suffix) {%>
		<span slot="suffix"><%-suffix%></span>
	<%}%>
</u-input>
<%if (env.readonly) {%>
	<input type="hidden" name="<%-env.name%>" value="<%-env?.default || ''%>">
<%}%>
