<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 item">
	<div class="time-machine card position-relative rounded-4 border-0">
		<div class="card-body ps-0 py-1">
			<div class="row g-0 align-items-center">
				<div class="col-auto p-2 card-image">
					<%if (timeMachine.isPrivate) {%>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="fa me-2" data-bs-toggle="tooltip" data-bs-original-title="Password protected"><path d="M128 128l0 64 192 0 0-64c0-53-43-96-96-96s-96 43-96 96zM96 192l0-64C96 57.3 153.3 0 224 0s128 57.3 128 128l0 64 16 0c44.2 0 80 35.8 80 80l0 160c0 44.2-35.8 80-80 80L80 512c-44.2 0-80-35.8-80-80L0 272c0-44.2 35.8-80 80-80l16 0zM32 272l0 160c0 26.5 21.5 48 48 48l288 0c26.5 0 48-21.5 48-48l0-160c0-26.5-21.5-48-48-48L80 224c-26.5 0-48 21.5-48 48z"/></svg>
					<%} else {%>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="fa" data-bs-toggle="tooltip" data-bs-original-title="Public"><path d="M352 128c0-53 43-96 96-96s96 43 96 96l0 80c0 8.8 7.2 16 16 16s16-7.2 16-16l0-80C576 57.3 518.7 0 448 0S320 57.3 320 128l0 64L80 192c-44.2 0-80 35.8-80 80L0 432c0 44.2 35.8 80 80 80l288 0c44.2 0 80-35.8 80-80l0-160c0-44.2-35.8-80-80-80l-16 0 0-64zm-16 96l32 0c26.5 0 48 21.5 48 48l0 160c0 26.5-21.5 48-48 48L80 480c-26.5 0-48-21.5-48-48l0-160c0-26.5 21.5-48 48-48l256 0z"/></svg>
					<%}%>
				</div>
				<div class="col flex-grow-1 text-truncate">
					<%=timeMachine.comment%>
				</div>
				<div class="col-auto">
					<div class="dropdown">
						<span data-bs-toggle="dropdown" class="dropdown-toggle caret-off btn btn-sm">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 512" class="fa"><path fill="var(--bs-secondary)" d="M64 360a56 56 0 1 0 0 112 56 56 0 1 0 0-112zm0-160a56 56 0 1 0 0 112 56 56 0 1 0 0-112zM120 96A56 56 0 1 0 8 96a56 56 0 1 0 112 0z"/></svg>
						</span>
						<ul class="dropdown-menu">
							<li><a href="#" class="dropdown-item">Edit</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a href="#" class="dropdown-item text-danger">Remove</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row g-0 mt-n2 mb-2">
				<div class="col offset-2 flex-grow-1 text-secondary">
					<dl class="m-0">
						<dt class="fw-lighter"><small>Access</small></dt>
						<dd>
							<%if (timeMachine.validUsers) {%>
								<%=_.join(timeMachine.validUsers, ', ')%>
							<%} else {%>
								Guest
							<%}%>
						</dd>
						<dt class="fw-lighter"><small>Capacity</small></dt>
						<dd><%=bytes(timeMachine.size)%></dd>
						<div class="d-flex justify-content-between">
							<div>
								<dt class="fw-lighter"><small>Used</small></dt>
								<dd class="m-0"><%=bytes(timeMachine.alloc)%></dd>
							</div>
							<div class="text-end">
								<dt class="fw-lighter"><small>Free</small></dt>
								<dd class="m-0"><%=bytes(timeMachine.free)%></dd>
							</div>
						</div>
						<div class="progress mt-1" role="progressbar">
							<div class="progress-bar bg-blue-300" style="width: <%=(timeMachine.cap)%>%;"></div>
						</div>
						<div class="d-flex justify-content-between lh-1 text-body-tertiary mt-1 mb-2">
							<small class="text-body-tertiary"><%=timeMachine.cap?.toFixed(0)%>%</small>
							<small class="text-body-tertiary"><%=(100 - timeMachine.cap)?.toFixed(0)%>%</small>
						</div>
					</dl>
				</div>
			</div>
		</div>
	</div>
</div>
