<div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 item">
	<div class="time-machine card position-relative rounded-4 border-0">
		<div class="card-body ps-0 py-1">
			<div class="row g-0 align-items-center">
				<div class="card-image card-spacer col-auto p-2">
					<%if (timeMachine.isPrivate) {%>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="fa me-2" data-bs-toggle="tooltip" data-bs-original-title="Password protected"><path d="M128 128l0 64 192 0 0-64c0-53-43-96-96-96s-96 43-96 96zM96 192l0-64C96 57.3 153.3 0 224 0s128 57.3 128 128l0 64 16 0c44.2 0 80 35.8 80 80l0 160c0 44.2-35.8 80-80 80L80 512c-44.2 0-80-35.8-80-80L0 272c0-44.2 35.8-80 80-80l16 0zM32 272l0 160c0 26.5 21.5 48 48 48l288 0c26.5 0 48-21.5 48-48l0-160c0-26.5-21.5-48-48-48L80 224c-26.5 0-48 21.5-48 48z"/></svg>
					<%} else {%>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="fa" data-bs-toggle="tooltip" data-bs-original-title="Public"><path d="M352 128c0-53 43-96 96-96s96 43 96 96l0 80c0 8.8 7.2 16 16 16s16-7.2 16-16l0-80C576 57.3 518.7 0 448 0S320 57.3 320 128l0 64L80 192c-44.2 0-80 35.8-80 80L0 432c0 44.2 35.8 80 80 80l288 0c44.2 0 80-35.8 80-80l0-160c0-44.2-35.8-80-80-80l-16 0 0-64zm-16 96l32 0c26.5 0 48 21.5 48 48l0 160c0 26.5-21.5 48-48 48L80 480c-26.5 0-48-21.5-48-48l0-160c0-26.5 21.5-48 48-48l256 0z"/></svg>
					<%}%>
				</div>
				<div class="col flex-grow-1 text-truncate">
					<%=timeMachine.comment%>
				</div>
				<div class="col-auto">
					<div class="dropdown">
						<span data-bs-toggle="dropdown" class="dropdown-toggle caret-off btn btn-sm">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 512" class="fa"><path fill="var(--bs-secondary)" d="M64 360a56 56 0 1 0 0 112 56 56 0 1 0 0-112zm0-160a56 56 0 1 0 0 112 56 56 0 1 0 0-112zM120 96A56 56 0 1 0 8 96a56 56 0 1 0 112 0z"/></svg>
						</span>
						<ul class="dropdown-menu">
							<li><a href="#" class="dropdown-item">Edit</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a href="#" class="dropdown-item text-danger">Remove</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row g-0 mt-n2 mb-2">
				<div class="card-spacer col-auto p-2"></div>
				<div class="col flex-grow-1 text-secondary">
					<dl class="m-0">
						<dt class="fw-lighter"><small>Access</small></dt>
						<dd>
							<%if (timeMachine.validUsers) {%>
								<%=_.join(timeMachine.validUsers, ', ')%>
							<%} else {%>
								Guest
							<%}%>
						</dd>
						<dt class="fw-lighter"><small>Capacity</small></dt>
						<dd><%=bytes(timeMachine.size)%></dd>
						<div class="d-flex justify-content-between">
							<div>
								<dt class="fw-lighter"><small>Used</small></dt>
								<dd class="m-0"><%=bytes(timeMachine.alloc)%></dd>
							</div>
							<div class="text-end">
								<dt class="fw-lighter"><small>Free</small></dt>
								<dd class="m-0"><%=bytes(timeMachine.free)%></dd>
							</div>
						</div>
						<div class="progress mt-1" role="progressbar">
							<div class="progress-bar bg-blue-300" style="width: <%=(timeMachine.cap)%>%;"></div>
						</div>
						<div class="d-flex justify-content-between lh-1 text-body-tertiary mt-1 mb-2">
							<small class="text-body-tertiary"><%=timeMachine.cap?.toFixed(0)%>%</small>
							<small class="text-body-tertiary"><%=(100 - timeMachine.cap)?.toFixed(0)%>%</small>
						</div>
						<dt class="fw-lighter d-flex align-items-center">
							<small>Open with</small>
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="fa ms-1" data-bs-toggle="tooltip" data-bs-original-title="Click to copy the address. In Finder, press ⌘K and paste it to connect. This lets Time Machine use it for backups.">
								<path fill="var(--bs-gray-500)" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336l24 0 0-64-24 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l48 0c13.3 0 24 10.7 24 24l0 88 8 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-80 0c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/>
							</svg>
						</dt>
						<dd class="mb-0">
							<div class="d-flex align-items-center">
								<a href="#" class="link-dark link-underline link-underline-opacity-0 me-2" data-action="copy-to-clipboard" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="Copy to clipboard">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="fa me-1"><path d="M318.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C63.3 141.2 4 184.8 4 273.5q0 39.3 14.4 81.2c12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z"/></svg>
									Finder + Time Machine
								</a>
								<span class="copy d-none">smb://<%=(timeMachine.isPrivate ? `${_.first(timeMachine.validUsers)}@` : '')%><%=networkInterface.ip4%>/<%=timeMachine.name%></span>
							</div>
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</div>
