<div class="col col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 item">
	<div class="time-machine card position-relative rounded-4 border-0">
		<div class="card-body ps-0 py-1">
			<div class="row g-0 align-items-center">
				<div class="card-image card-spacer col-auto p-2">
					<%if (timeMachine.isPrivate) {%>
						<i class="icon-light icon-lock" data-bs-toggle="tooltip" data-bs-original-title="Password protected"></i>
					<%} else {%>
						<i class="icon-light icon-lock-open" data-bs-toggle="tooltip" data-bs-original-title="Public"></i>
					<%}%>
				</div>
				<div class="col flex-grow-1 text-truncate">
					<%=timeMachine.comment%>
				</div>
				<div class="col-auto">
					<div class="dropdown me-n1">
						<span data-bs-toggle="dropdown" class="dropdown-toggle caret-off btn btn-sm">
							<i class="icon-solid icon-ellipsis-vertical icon-fw text-secondary"></i>
						</span>
						<ul class="dropdown-menu">
							<li><a href="#" class="dropdown-item">Edit</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a href="#" class="dropdown-item text-danger">Remove</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row g-0 mt-n2 mb-2">
				<div class="card-spacer col-auto p-2"></div>
				<div class="col flex-grow-1 text-secondary">
					<dl class="m-0">
						<dt class="fw-lighter"><small>Access</small></dt>
						<dd>
							<%if (timeMachine.validUsers) {%>
								<%=_.join(timeMachine.validUsers, ', ')%>
							<%} else {%>
								Guest
							<%}%>
						</dd>
						<dt class="fw-lighter"><small>Capacity</small></dt>
						<dd><%=prettyBytes(timeMachine.size || 0, { binary: true })%></dd>
						<div class="d-flex justify-content-between">
							<div>
								<dt class="fw-lighter"><small>Used</small></dt>
								<dd class="m-0"><%=prettyBytes(timeMachine.alloc || 0, { binary: true })%></dd>
							</div>
							<div class="text-end">
								<dt class="fw-lighter"><small>Free</small></dt>
								<dd class="m-0"><%=prettyBytes(timeMachine.free || 0, { binary: true })%></dd>
							</div>
						</div>
						<div class="progress mt-1" role="progressbar">
							<div class="progress-bar bg-blue-300" style="width: <%=(timeMachine.cap)%>%;"></div>
						</div>
						<div class="d-flex justify-content-between lh-1 text-body-tertiary mt-1 mb-2">
							<small class="text-body-tertiary"><%=timeMachine.cap?.toFixed(0)%>%</small>
							<small class="text-body-tertiary"><%=(100 - timeMachine.cap)?.toFixed(0)%>%</small>
						</div>
						<dt class="fw-lighter d-flex align-items-center">
							<small>Open with</small>
							<i class="icon-solid icon-circle-info ms-1 text-gray-500" data-bs-toggle="tooltip" data-bs-original-title="Click to copy the address. In Finder, press ⌘K and paste it to connect. This lets Time Machine use it for backups."></i>
						</dt>
						<dd class="mb-0">
							<div class="d-flex align-items-center">
								<a href="#" class="link-dark link-underline link-underline-opacity-0 me-2" data-action="copy-to-clipboard" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="Copy to clipboard">
									<i class="icon-brands icon-apple icon-fw me-1"></i>
									Finder + Time Machine
								</a>
								<span class="copy d-none">smb://<%=(timeMachine.isPrivate ? `${_.first(timeMachine.validUsers)}@` : '')%><%=networkInterface?.ip4%>/<%=timeMachine.name%></span>
							</div>
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</div>
